[2018-09-25 14:52] hessionra opened #1 "Q4 (Initial) Lab Dashboard"
GitHub location: https://github.com/ICPI/Lab-Tool

Includes script for tool updating.

[2018-09-25 15:06] hessionra opened #2 "Q4 (Initial) DREAMS Dashboard"
GitHub location: https://github.com/ICPI/Prevention-Cluster

Includes [script ](https://github.com/ICPI/Prevention-Cluster/tree/master/DREAMS)for tool updating.

[2018-09-25 15:08] hessionra opened #3 "Q4 (Initial) Key Populations Dashboard"
GitHub location: https://github.com/ICPI/Prevention-Cluster

Includes [script ](https://github.com/ICPI/Prevention-Cluster/tree/master/KP%20Dashboard)for tool updating.

[2018-09-25 15:10] hessionra opened #4 "Q4 (Initial) OVC Dashboard"
GitHub location: https://github.com/ICPI/Prevention-Cluster

Includes [script](https://github.com/ICPI/Prevention-Cluster/tree/master/OVC) for tool updating.

[2018-09-25 15:29] hessionra opened #5 "Q4 (Initial) VMMC Dashboard"
GitHub location: https://github.com/ICPI/Prevention-Cluster

Includes [script](https://github.com/ICPI/Prevention-Cluster/tree/master/VMMC) for tool updating.

[2018-09-25 15:30] hessionra opened #6 "Q4 (Initial) Prevention Reference Dashboard"
GitHub location: https://github.com/ICPI/Prevention-Cluster

Includes [script](https://github.com/ICPI/Prevention-Cluster/tree/master/Cross-cutting) for tool updating.

[2018-09-25 15:31] hessionra opened #7 "Q4 (Initial) Prevention Trend Tool"
GitHub location: https://github.com/ICPI/Prevention-Cluster

Includes [script ](https://github.com/ICPI/Prevention-Cluster/tree/master/Cross-cutting)for tool updating.

[2018-09-25 15:34] hessionra opened #8 "Q4 (Initial) HITS Dashboard"
GitHub location: https://github.com/ICPI/Diagnosis-Cluster

[2018-09-25 15:35] hessionra opened #9 "Q4 (Initial) CHIPS Dashboard"
GitHub location: https://github.com/ICPI/Diagnosis-Cluster

[2018-09-25 15:37] hessionra opened #10 "Q4 (Initial) Integrated Treatment Summary Dashboard (iTSD)"
GitHub location: https://github.com/ICPI/Treatment-Cluster

[R Code ](https://github.com/ICPI/Treatment-Cluster)included.

[2018-09-25 15:38] hessionra opened #11 "Q4 (Initial) Treatment Summary Dashboard"
GitHub location: https://github.com/ICPI/Treatment-Cluster

[2018-09-25 15:39] hessionra opened #12 "Q4 (Initial) Tx_Net_New Dashboard"
GitHub location: https://github.com/ICPI/Treatment-Cluster

[2018-09-25 16:36] hessionra opened #13 "Q4 (Initial) Performance Trends Dashboard"
GitHub location: https://github.com/ICPI/Treatment-Cluster

[2018-09-25 17:54] hessionra commented on #1
Q4 Initial Checklist:

- [ ] Q4 Initial Data Entry Open (10/1)
- [ ] Analysts finalize dashboards in preparation for Q4 initial data population (11/12)
- [ ] Q4 Initial Data Entry Close (11/15)
- [ ] Datasets become available in Genie (11/15)
- [ ] Begin Dashboard Population (11/16)
- [ ] Dashboard QC (11/19)

[2018-09-25 17:55] hessionra commented on #2
Q4 Initial Checklist:

- [x] Q4 Initial Data Entry Open (10/1)
- [x] Analysts finalize dashboards in preparation for Q4 initial data population (11/12)
- [x] Q4 Initial Data Entry Close (11/15)
- [x] Datasets become available in Genie (11/15)
- [x] Begin Dashboard Population (11/16)
- [x] Dashboard QC (11/19)

[2018-09-25 17:58] hessionra commented on #3
Q4 Initial Checklist:

- [ ] Q4 Initial Data Entry Open (10/1)
- [ ] Analysts finalize dashboards in preparation for Q4 initial data population (11/12)
- [ ] Q4 Initial Data Entry Close (11/15)
- [ ] Datasets become available in Genie (11/15)
- [ ] Begin Dashboard Population (11/16)
- [ ] Dashboard QC (11/19)

[2018-09-25 18:24] hessionra commented on #4
Q4 Initial Checklist:

- [x] Q4 Initial Data Entry Open (10/1)
- [x] Analysts finalize dashboards in preparation for Q4 initial data population (11/12)
- [x] Q4 Initial Data Entry Close (11/15)
- [x] Datasets become available in Genie (11/15)
- [x] Begin Dashboard Population (11/16)
- [x] Dashboard QC (11/19)

[2018-09-25 18:24] hessionra commented on #5
Q4 Initial Checklist:

- [x] Q4 Initial Data Entry Open (10/1)
- [x] Analysts finalize dashboards in preparation for Q4 initial data population (11/12)
- [x] Q4 Initial Data Entry Close (11/15)
- [x] Datasets become available in Genie (11/15)
- [x] Begin Dashboard Population (11/16)
- [ ] Dashboard QC (11/19)

[2018-09-25 18:25] hessionra commented on #6
Q4 Initial Checklist:

- [x] Q4 Initial Data Entry Open (10/1)
- [x] Analysts finalize dashboards in preparation for Q4 initial data population (11/12)
- [x] Q4 Initial Data Entry Close (11/15)
- [x] Datasets become available in Genie (11/15)
- [x] Begin Dashboard Population (11/16)
- [x] Dashboard QC (11/19)

[2018-09-25 18:25] hessionra commented on #7
Q4 Initial Checklist:

- [x] Q4 Initial Data Entry Open (10/1)
- [x] Analysts finalize dashboards in preparation for Q4 initial data population (11/12)
- [x] Q4 Initial Data Entry Close (11/15)
- [x] Datasets become available in Genie (11/15)
- [x] Begin Dashboard Population (11/16)
- [x] Dashboard QC (11/19)

[2018-09-25 18:25] hessionra commented on #8
Q4 Initial Checklist:

- [ ] Q4 Initial Data Entry Open (10/1)
- [ ] Analysts finalize dashboards in preparation for Q4 initial data population (11/12)
- [ ] Q4 Initial Data Entry Close (11/15)
- [ ] Datasets become available in Genie (11/15)
- [ ] Begin Dashboard Population (11/16)
- [ ] Dashboard QC (11/19)

[2018-09-25 18:26] hessionra commented on #9
Q4 Initial Checklist:

- [x] Q4 Initial Data Entry Open (10/1)
- [x] Analysts finalize dashboards in preparation for Q4 initial data population (11/12)
- [ ] Q4 Initial Data Entry Close (11/15)
- [ ] Datasets become available in Genie (11/15)
- [ ] Begin Dashboard Population (11/16)
- [ ] Dashboard QC (11/19)

[2018-09-25 18:26] hessionra commented on #10
Q4 Initial Checklist:

- [ ] Q4 Initial Data Entry Open (10/1)
- [ ] Analysts finalize dashboards in preparation for Q4 initial data population (11/12)
- [ ] Q4 Initial Data Entry Close (11/15)
- [ ] Datasets become available in Genie (11/15)
- [ ] Begin Dashboard Population (11/16)
- [ ] Dashboard QC (11/19)

[2018-09-25 18:26] hessionra commented on #11
Q4 Initial Checklist:

- [x] Q4 Initial Data Entry Open (10/1)
- [ ] Analysts finalize dashboards in preparation for Q4 initial data population (11/12)
- [x] Q4 Initial Data Entry Close (11/15)
- [x] Datasets become available in Genie (11/15)
- [x] Begin Dashboard Population (11/16)
- [ ] Dashboard QC (11/19)

[2018-09-25 18:26] hessionra commented on #12
Q4 Initial Checklist:

- [x] Q4 Initial Data Entry Open (10/1)
- [ ] Analysts finalize dashboards in preparation for Q4 initial data population (11/12)
- [ ] Q4 Initial Data Entry Close (11/15)
- [ ] Datasets become available in Genie (11/15)
- [ ] Begin Dashboard Population (11/16)
- [ ] Dashboard QC (11/19)

[2018-09-25 18:27] hessionra commented on #13
Q4 Initial Checklist:

- [ ] Q4 Initial Data Entry Open (10/1)
- [ ] Analysts finalize dashboards in preparation for Q4 initial data population (11/12)
- [ ] Q4 Initial Data Entry Close (11/15)
- [ ] Datasets become available in Genie (11/15)
- [ ] Begin Dashboard Population (11/16)
- [ ] Dashboard QC (11/19)

[2018-09-25 20:15] hessionra opened #14 "Q4 (Initial) Partner Progress Report"
Q4 Timeline
- Q4 Initial Data Entry Period (10/1 - 11/15)
- Datasets become available in Genie (11/15)
- Datasets becomes available on Panorama (???)

Q4 Initial Checklist:
- [ ] Finalize tool [template] in preparation for Q4 initial data population (11/12 - 11/16)
- [ ] Populate tool (11/16 - 11/19)
- [ ] QA/QC tool (11/16 - 11/19)
- [ ] Submit final tool(s) to PEPFAR.net (11/19)

[2018-09-25 20:17] hessionra opened #15 "Q4 (Clean) SIMS POART Dashboard"
Q4 Timeline
- Q4 Clean Data Entry Period (12/1-12/21)
- Datasets become available in Genie (12/21)
- Datasets becomes available on Panorama (1/4)

Q4 Cleaned Checklist:
- [x] Finalize tool [template] in preparation for Q4 cleaned data population (12/17)
- [x] Populate tool (1/7-1/10)
- [x] QA/QC tool (1/11)
- [x] Submit final tool(s) to PEPFAR.net (1/11)

Link to Working folder / Instructions & Te

[2018-11-06 20:52] kimisatoPC commented on #7
I attempted to update the R code to use the Genie output, but since Rwanda and Eswatini are at one level below the PSNU, I cannot update the dashboard. Spoke with Abe and the DREAMS MSD will be available on 11/19 and I will plan to update the tool by 11/21.

[2018-11-06 21:01] shapaklyak commented on #4
Currently working on updating the R script for Genie data pull Q4
FYI @hessionra @kimisatoPC @erinschelar

[2018-11-16 22:23] shapaklyak commented on #4
R Script updated and OVC Dashboard Ready for QC. Dashboard & QC Template can be found on [pepfar.net ](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FPrevention%2FWorking%20Folder%2FOVC%2FPending%20QC%2FFY18Q4%20Unclean&FolderCTID=0x01200080CC6F83D1766F4D9E3497D4529EC74A&View=%7B94C838B2%2DE166%2D4122%2DB8

[2018-11-18 02:35] kimisatoPC commented on #7
@shapaklya [Prevention Trends Tool](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FPrevention%2FWorking%20Folder%2FCross%2DCutting%2FPrevention%20Trend%20Tool&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2%2DE166%2D4122%2DB8B4%2D7BEB9E1BC12B%7D) has b

[2018-11-18 02:38] kimisatoPC commented on #6
@BarbaraDdamulira [Prevention Reference Dashboard](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FPrevention%2FWorking%20Folder%2FCross%2DCutting%2FPrevention%20Reference%20Dashboard&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2%2DE166%2D4122%2DB8B4%

[2018-11-19 19:29] BarbaraDdamulira commented on #6
QC completed

[2018-11-19 23:16] shapaklyak commented on #4
Currently in QC - one OU passed, waiting on additional analyst review

[2018-11-20 17:58] shapaklyak commented on #4
QC passed Tanzania & South Africa across all tabs. QC documentation can be found on [pepfar.net](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FPrevention%2FWorking%20Folder%2FOVC%2FPending%20QC%2FFY18Q4%20Unclean&FolderCTID=0x01200080CC6F83D1766F4D9E3497D4529EC74A&View=%7B94C838B2%2DE166%2D4122%2DB8B4%2D7

[2018-11-20 18:19] shapaklyak commented on #4
FY18Q4 initial OVC Dashboard approved for use posted in[ ICPI Products Library](https://www.pepfar.net/OGAC-HQ/icpi/Products/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FProducts%2FICPI%20Approved%20Tools%20%28Most%20Current%20Versions%29%2FOVC&FolderCTID=0x0120004DAC66286D0B8344836739DA850ACB95&View=%7B58E3102A%2DC027%2D4C66%2DA5C7%2D84FEBE208B3C%7D&InitialTabId=Ribbon%2EDocument&Visibili

[2018-11-20 18:19] #4 closed, assigned to shapaklyak, kimisatoPC, erinschelar

[2018-11-26 18:42] hessionra commented on #10
The iTSD has been retired and was not updated for Q4 initial.

[2018-11-26 18:42] #10 closed, assigned to imujawar, KatieOC, MicSherlock

[2018-11-26 18:47] hessionra commented on #2
Submitted to ICPI@state.gov 11/21.

[2018-11-26 18:47] #2 closed, assigned to kimisatoPC, erinschelar

[2018-11-26 18:47] hessionra commented on #3
Submitted to ICPI@state.gov 11/21.

[2018-11-26 18:47] #3 closed, assigned to wvp3, kimisatoPC, erinschelar

[2018-11-26 18:48] hessionra commented on #5
Submitted to ICPI@state.gov on 11/21.

[2018-11-26 18:48] #5 closed, assigned to kimisatoPC, erinschelar, Couper-T

[2018-11-26 18:49] hessionra commented on #9
Submitted to ICPI@state.gov on 11/21.

[2018-11-26 18:49] #9 closed, assigned to shazadahmed10, mehtasp, cnichols3h

[2018-11-26 18:58] hessionra commented on #6
Submitted to ICPI@state.gov on 11/21.

[2018-11-26 18:58] #6 closed, assigned to kimisatoPC, BarbaraDdamulira

[2018-11-26 18:58] hessionra commented on #7
Submitted to ICPI@state.gov on 11/21.

[2018-11-26 18:58] #7 closed, assigned to shapaklyak, kimisatoPC, erinschelar

[2018-11-26 18:58] hessionra commented on #11
Submitted to ICPI@state.gov on 11/23.

[2018-11-26 18:58] #11 closed, assigned to aliyahwakil, KatieOC, MicSherlock

[2018-11-26 18:59] hessionra commented on #14
Submitted to ICPI@state.gov on 11/23.

[2018-11-26 18:59] #14 closed, assigned to achafetz

[2018-11-26 18:59] hessionra commented on #12
Combined with TSD starting Q4 initial. Will not be a separate tool going forward.

[2018-11-26 18:59] #12 closed, assigned to aliyahwakil, KatieOC, MicSherlock

[2018-12-17 16:52] #1 closed, assigned to anu87, mehtasp, cnichols3h, ERottinghaus

[2018-12-17 16:52] #8 closed, assigned to shazadahmed10, mehtasp, cnichols3h

[2018-12-17 17:05] #13 closed, assigned to anu87, KatieOC, MicSherlock

[2018-12-17 17:11] hessionra opened #16 "Q4 Clean: PPR"
Q4 Timeline
- Q4 Clean Data Entry Period (12/1-12/21)
- Datasets become available in Genie (12/21)
- Datasets becomes available on Panorama (1/4)

Q4 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q4 initial data population (12/17)
- [x] Populate tool (12/21-1/7)
- [x] QA/QC tool (1/8)
- [x] Submit final tool(s) to PEPFAR.net (1/9)

[2018-12-17 17:14] hessionra opened #17 "Q4 Clean: Prevention Trends"
Q4 Timeline
- Q4 Clean Data Entry Period (12/1-12/21)
- Datasets become available in Genie (12/21)
- Datasets becomes available on Panorama (1/4)

Q4 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q4 initial data population (12/17)
- [x] Populate tool (12/21-1/7)
- [x] QA/QC tool (1/8)
- [x] Submit final tool(s) to PEPFAR.net (1/9)

[2018-12-17 17:21] hessionra opened #18 "Lab Dashboard"
Q4 Timeline
- Q4 Clean Data Entry Period (12/1-12/21)
- Datasets become available in Genie (12/21)
- Datasets becomes available on Panorama (1/4)

Q4 Clean Checklist:
- [ ] Finalize tool [template] in preparation for Q4 initial data population (12/17)
- [ ] Populate tool (12/21-1/7)
- [ ] QA/QC tool (1/8)
- [ ] Submit final tool(s) to PEPFAR.net (1/9)

[2018-12-17 17:22] hessionra opened #19 "Q4 Clean DREAMS Dashboard"
Q4 Timeline
- Q4 Clean Data Entry Period (12/1-12/21)
- Datasets become available in Genie (12/21)
- Datasets becomes available on Panorama (1/4)

Q4 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q4 initial data population (12/17)
- [x] Populate tool (12/21-1/7)
- [x] QA/QC tool (1/8)
- [x] Submit final tool(s) to PEPFAR.net (1/9)

[2018-12-17 17:23] hessionra opened #20 "Q4 Clean Key Populations Dashboard"
Q4 Timeline
- Q4 Clean Data Entry Period (12/1-12/21)
- Datasets become available in Genie (12/21)
- Datasets becomes available on Panorama (1/4)

Q4 Clean Checklist:
- [ ] Finalize tool [template] in preparation for Q4 initial data population (12/17)
- [ ] Populate tool (12/21-1/7)
- [ ] QA/QC tool (1/8)
- [ ] Submit final tool(s) to PEPFAR.net (1/9)

[2018-12-17 17:24] hessionra opened #21 "OVC Dashboard"
Q4 Timeline
- Q4 Clean Data Entry Period (12/1-12/21)
- Datasets become available in Genie (12/21)
- Datasets becomes available on Panorama (1/4)

Q4 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q4 initial data population (12/17)
- [x] Populate tool (12/21-1/7)
- [x] QA/QC tool (1/8)
- [x] Submit final tool(s) to PEPFAR.net (1/9)

[2018-12-17 17:24] hessionra opened #22 "Q4 Clean VMMC Dashboard"
Q4 Timeline
- Q4 Clean Data Entry Period (12/1-12/21)
- Datasets become available in Genie (12/21)
- Datasets becomes available on Panorama (1/4)

Q4 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q4 initial data population (12/17)
- [x] Populate tool (12/21-1/7)
- [x] QA/QC tool (1/8)
- [x] Submit final tool(s) to PEPFAR.net (1/9)

[2018-12-17 17:26] hessionra opened #23 "Q4 Clean Prevention Reference Dashboard"
Q4 Timeline
- Q4 Clean Data Entry Period (12/1-12/21)
- Datasets become available in Genie (12/21)
- Datasets becomes available on Panorama (1/4)

Q4 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q4 initial data population (12/17)
- [x] Populate tool (12/21-1/7)
- [x] QA/QC tool (1/8)
- [x] Submit final tool(s) to PEPFAR.net (1/9)

[2018-12-17 17:28] hessionra opened #24 "Q4 Clean HITS Dashboard"
Q4 Timeline
- Q4 Clean Data Entry Period (12/1-12/21)
- Datasets become available in Genie (12/21)
- Datasets becomes available on Panorama (1/4)

Q4 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q4 initial data population (12/17)
- [x] Populate tool (12/21-1/7)
- [x] QA/QC tool (1/8)
- [x] Submit final tool(s) to PEPFAR.net (1/9)

[2018-12-17 17:29] hessionra opened #25 "Q4 Clean CHIPS Dashboard"
Q4 Timeline
- Q4 Clean Data Entry Period (12/1-12/21)
- Datasets become available in Genie (12/21)
- Datasets becomes available on Panorama (1/4)

Q4 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q4 initial data population (12/17)
- [x] Populate tool (12/21-1/7)
- [x] QA/QC tool (1/8)
- [x] Submit final tool(s) to PEPFAR.net (1/9)

[2018-12-17 17:29] hessionra opened #26 "Q4 Clean Treatment Summary Dashboard"
Q4 Timeline
- Q4 Clean Data Entry Period (12/1-12/21)
- Datasets become available in Genie (12/21)
- Datasets becomes available on Panorama (1/4)

Q4 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q4 initial data population (12/17)
- [x] Populate tool (12/21-1/7)
- [x] QA/QC tool (1/8)
- [x] Submit final tool(s) to PEPFAR.net (1/9)

[2018-12-17 17:30] hessionra opened #27 "Q4 Clean Performance Trends"
Q4 Timeline
- Q4 Clean Data Entry Period (12/1-12/21)
- Datasets become available in Genie (12/21)
- Datasets becomes available on Panorama (1/4)

Q4 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q4 initial data population (12/17)
- [x] Populate tool (12/21-1/7)
- [x] QA/QC tool (1/8)
- [ ] Submit final tool(s) to PEPFAR.net (1/9)

[2018-12-17 17:31] hessionra opened #28 "Q4 Clean TB-HIV Dashboard"
Q4 Timeline
- Q4 Clean Data Entry Period (12/1-12/21)
- Datasets become available in Genie (12/21)
- Datasets becomes available on Panorama (1/4)

Q4 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q4 initial data population (12/17)
- [x] Populate tool (12/21-1/7)
- [x] QA/QC tool (1/8)
- [x] Submit final tool(s) to PEPFAR.net (1/9)

[2018-12-17 17:31] hessionra opened #29 "Viral Load Dashboard"
Q4 Timeline
- Q4 Clean Data Entry Period (12/1-12/21)
- Datasets become available in Genie (12/21)
- Datasets becomes available on Panorama (1/4)

Q4 Clean Checklist:
- [ ] Finalize tool [template] in preparation for Q4 initial data population (12/17)
- [ ] Populate tool (12/21-1/7)
- [ ] QA/QC tool (1/8)
- [ ] Submit final tool(s) to PEPFAR.net (1/9)

[2018-12-17 18:31] shapaklyak commented on #21
FYI: I'm on leave 12/21 afternoon through Jan.6 and can update the tool on Jan.7.

[2018-12-17 18:58] hessionra commented on #21
Thank you for the update, Katya! Please let us know if anything else comes up. Who will be the main QCer?

[2018-12-19 17:51] shapaklyak commented on #21
Main QC'rs are still TBD, but usually it is Erin, myself, sometimes Amy (USAID) and others who are able to. If you are free, we would love you to help :) Will finalize QC folks on Jan. 7

[2018-12-19 18:46] erinschelar commented on #21
Yes, I can definitely help QC and update as needed as I will be back on
1/3.

On Wed, Dec 19, 2018 at 12:52 PM Katya N. <notifications@github.com> wrote:

--
*ERIN SCHELAR, MPH, RN*
Data Analysis Advisor, SIEI/SI Team | Office of HIV/AIDS
U.S. AGENCY FOR INTERNATIONAL DEVELOPMENT
Interagency Collaborative for Program Improvement (ICPI)
2100 Crystal Drive, Arlington, VA 22202
T  202-663-1357 | M 57

[2019-01-07 14:43] aknute commented on #15
Population Assignments for Q4/Cleaned:

**OU/REGION | ANALYST**
Angola | Rebecca
Asia Region* | Rebecca
Botswana | Faith
Burundi | Rebecca
Cameroon | Faith
Caribbean Region | Meaghan
Cote d'Ivoire | Faith
Democratic Republic of Congo | Faith
Dominican Republic | Meaghan
Eswatini | Faith
Ethiopia | Rebecca
Ghana | Rebecca
Haiti | Meaghan
Kenya | Audrey
Lesotho | Meaghan
Malawi | Meaghan
Mozambique

[2019-01-07 17:08] hessionra commented on #15
Hi @aknute I can work on these this week!

[2019-01-07 18:06] aknute commented on #15
Great!

________________________________
From: hessionra <notifications@github.com>
Sent: Monday, January 7, 2019 12:08:06 PM
To: ICPI/ICPI-Product-Tracker
Cc: Knutson, Audrey (CDC/DDPHSIS/CGH/DGHT); Mention
Subject: Re: [ICPI/ICPI-Product-Tracker] Q4 (Clean) SIMS POART Dashboard (#15)

Hi @aknute<https://github.com/aknute> I can work on these this week!

—
You are receiving this because you were

[2019-01-07 18:19] hessionra commented on #20
@wvp3 @Yabayabadoo @vanamala-narasimhan @jb3436 checking in on the status of KP? Thank you!

[2019-01-07 18:28] hessionra commented on #18
@ERottinghaus @anu87 @jb3436 any updates on the Lab dashboard? Let me know if it will be ready for the Huddle!

[2019-01-07 18:29] hessionra commented on #26
@imujawar @nmcarloni @jb3436 any updates on the TSD? Let me know if it will be ready for the Huddle!

[2019-01-07 18:32] imujawar commented on #26
We populated the tools and posted them on PEPFAR.net on Friday last week.

[2019-01-07 18:53] ERottinghaus commented on #18
It is undergoing QC and should be ready to go on time pending any major issues identified during the QC process.

Erin Rottinghaus, PhD | International Laboratory Branch | Division of Global HIV & TB | Centers for Disease Control and Prevention | 1600 Clifton Rd, Atlanta, GA 30333
Phone: 404-639-2872 | Email: isa0@cdc.gov

From: hessionra <notifications@github.com>
Sent: Monday, January 7, 2019 1:

[2019-01-07 20:11] shapaklyak commented on #21
@erinschelar
OVC Dashboard passed initial QC vs DATIM

**Ready for 2nd QC.**
Template & Dashboard for QC is available on [pepfar.net](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FPrevention%2FWorking%20Folder%2FOVC%2FPending%20QC&FolderCTID=0x01200080CC6F83D1766F4D9E3497D4529EC74A&View=%7B94C838B2%2DE166

[2019-01-07 21:34] achafetz commented on #16
Tools updated and uploaded.

[2019-01-07 21:34] #16 closed, assigned to achafetz

[2019-01-07 21:41] hessionra commented on #27
@anu87 please close this ticket and move it to "Huddle Ready" when it is up on SharePoint!

[2019-01-07 21:42] hessionra commented on #29
Hi @anu87 @jb3436 is VL still on track for the Huddle release? Thank you!

[2019-01-07 21:44] hessionra commented on #28
Hi @cnichols3h ! Is the TB/HIV dashboard on track to be ready for the Huddle?

[2019-01-07 21:45] hessionra commented on #25
Hi @shazadahmed10 , please close this ticket and move it to "Huddle Ready" if the dashboards are on SharePoint!

[2019-01-07 21:47] cnichols3h commented on #28
@hessionra yes, it is on track!  thank you for checking.  it will be QC'd tomorrow.

[2019-01-08 13:47] hessionra commented on #26
@imujawar thank you!!

[2019-01-08 14:11] hessionra commented on #18
@ERottinghaus @anu87 thank you!!

[2019-01-08 14:31] #25 closed, assigned to shazadahmed10, mehtasp, cnichols3h

[2019-01-08 14:46] hessionra commented on #21
Thank you for the update, @shapaklyak !

[2019-01-08 20:17] erinschelar commented on #21
Passed QC for Eswatini as well. Thanks Katya!

[2019-01-08 20:38] shapaklyak commented on #21
OVC Dashboard posted to [pepfar.net ](https://www.pepfar.net/OGAC-HQ/icpi/Products/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FProducts%2FICPI%20Approved%20Tools%20%28Most%20Current%20Versions%29%2FOVC&FolderCTID=0x0120004DAC66286D0B8344836739DA850ACB95&View=%7B58E3102A%2DC027%2D4C66%2DA5C7%2D84FEBE208B3C%7D)

[2019-01-09 21:07] #24 closed, assigned to shazadahmed10, mehtasp, cnichols3h

[2019-01-10 14:37] hessionra commented on #20
@wvp3 @Yabayabadoo @vanamala-narasimhan @jb3436 Following up on the status of KP-- let me know if it will be ready for today's Huddle release or if there has been a delay. Thank you!

[2019-01-10 14:43] ERottinghaus commented on #18
The final lab tool has been uploaded to the folder.

Erin Rottinghaus, PhD | International Laboratory Branch | Division of Global HIV & TB | Centers for Disease Control and Prevention | 1600 Clifton Rd, Atlanta, GA 30333
Phone: 404-639-2872 | Email: isa0@cdc.gov

From: hessionra <notifications@github.com>
Sent: Tuesday, January 8, 2019 9:11 AM
To: ICPI/ICPI-Product-Tracker <ICPI-Product-Tracker@no

[2019-01-10 14:45] hessionra commented on #27
Hi all! @anu87 @MicSherlock @KatieOC @jb3436 Let me know the status of Performance Trends and if it will be ready in time for the Huddle release! If it is not ready, we can put a "read.me" file in the folder letting people know that it will be uploaded shortly. Thank you!

[2019-01-10 14:45] hessionra commented on #18
Great, thank you @ERottinghaus @anu87 ! I will go ahead and close the ticket.

[2019-01-10 14:46] #17 closed, assigned to kimisatoPC, erinschelar

[2019-01-10 14:46] #19 closed, assigned to kimisatoPC, hessionra, erinschelar

[2019-01-10 14:46] hessionra commented on #28
Great work, everyone!

[2019-01-10 14:46] #28 closed, assigned to mehtasp, cnichols3h

[2019-01-10 14:47] hessionra commented on #23
Great work, everyone!

[2019-01-10 14:47] #23 closed, assigned to kimisatoPC, erinschelar

[2019-01-10 14:47] hessionra commented on #26
Great work, everyone!

[2019-01-10 14:47] #26 closed, assigned to imujawar, aliyahwakil, KatieOC, MicSherlock, nmcarloni

[2019-01-10 14:47] hessionra commented on #22
Great work, everyone!

[2019-01-10 14:47] #22 closed, assigned to aliyahwakil, kimisatoPC, erinschelar, faithfawale

[2019-01-10 14:48] hessionra commented on #29
Great work, everyone!

[2019-01-10 15:09] wvp3 commented on #20
It will be ready for today’s release and we will send you the link shortly.  Thanks.

From: hessionra <notifications@github.com>
Sent: Thursday, January 10, 2019 9:38 AM
To: ICPI/ICPI-Product-Tracker <ICPI-Product-Tracker@noreply.github.com>
Cc: Lim, Travis Warren (CDC/DDPHSIS/CGH/DGHT) <wvp3@cdc.gov>; Mention <mention@noreply.github.com>
Subject: Re: [ICPI/ICPI-Product-Tracker] Q4 Clean Key Popul

[2019-01-10 15:21] wvp3 commented on #20
https://www.pepfar.net/OGAC-HQ/icpi/Products/ICPI%20Approved%20Tools%20(Most%20Current%20Versions)/Key%20Populations%20Dashboard/ICPI_KP%20Tool_FY18Q4_clean_1-10-2019_TWL.xlsx

From: hessionra <notifications@github.com>
Sent: Thursday, January 10, 2019 9:38 AM
To: ICPI/ICPI-Product-Tracker <ICPI-Product-Tracker@noreply.github.com>
Cc: Lim, Travis Warren (CDC/DDPHSIS/CGH/DGHT) <wvp3@cdc.gov>; Menti

[2019-01-10 15:59] hessionra commented on #20
Thank you, @wvp3 ! I will go ahead and close this ticket and move it to "Huddle Ready" in the product tracker.

[2019-01-10 15:59] #20 closed, assigned to wvp3, Yabayabadoo, vanamala-narasimhan

[2019-01-10 21:16] KatieOC opened #30 "Q4 PMTCT Cascade Dashboard"
New PMTCT cascade dashboard to be added at clean Q4

[2019-01-10 21:18] KatieOC commented on #30
dashboard has been uploaded to folder.

[2019-01-10 21:19] KatieOC commented on #27
@anu87 looks like an older version was uploaded. I also sent you an email regarding this. thanks!

[2019-01-10 21:22] KatieOC opened #31 "HIV_Exposed Infant Dashboard"
New dashboard for FY18 clean Q4.

[2019-01-10 21:23] KatieOC commented on #31
@nmcdavid not sure if you saw my emails but there is one issue on the last tab we need to resolve before I can upload it for the Huddle. thanks!

[2019-01-10 21:31] KatieOC commented on #31
@hessionra I have uploaded a README document outlining when the HEI dashboard will be posted.

[2019-01-10 21:53] KatieOC commented on #27
@hessionra I put up a README for posting tomorrow OOB.

[2019-01-11 14:33] KatieOC commented on #31
global tool uploaded. Pending uploads of site level dashboards but will close this issue.

[2019-01-24 20:40] #27 closed, assigned to anu87, KatieOC, MicSherlock

[2019-02-20 14:30] #15 closed, assigned to aknute, mehtasp, hessionra

[2019-02-20 14:38] hessionra opened #32 "HITS Dashboard"
Q1 Timeline
- Q1 Initial Data Entry Period (1/7-2/15)
- Datasets become available in Genie (2/15)
- Datasets becomes available on Panorama (2/22)

Q1 Entry Checklist:
- [x] Finalize tool [template] in preparation for Q1 initial data population (2/11)
- [x] Populate tool (2/18)
- [x] QA/QC tool (2/20)
- [x] Submit final tool(s) to PEPFAR.net (2/26)

[2019-02-20 14:43] hessionra opened #33 "CHIPS Dashboard"
Q1 Timeline
- Q1 Initial Data Entry Period (1/7-2/15)
- Datasets become available in Genie (2/15)
- Datasets becomes available on Panorama (2/22)

Q1 Entry Checklist:
- [x] Finalize tool [template] in preparation for Q1 initial data population (2/11)
- [x] Populate tool (2/18)
- [x] QA/QC tool (2/20)
- [x] Submit final tool(s) to PEPFAR.net (2/26)

[2019-02-20 14:45] hessionra opened #34 "DREAMS Dashboard"
Q1 Timeline
- Q1 Initial Data Entry Period (1/7-2/15)
- Datasets become available in Genie (2/15)
- Datasets becomes available on Panorama (2/22)

Q1 Entry Checklist:
- [x] Finalize tool [template] in preparation for Q1 initial data population (2/11)
- [x] Populate tool (2/18)
- [x] QA/QC tool (2/20)
- [x] Submit final tool(s) to PEPFAR.net (2/26)

[2019-02-20 14:46] hessionra opened #35 "Prevention Summary Dashboard"
Q1 Timeline
- Q1 Initial Data Entry Period (1/7-2/15)
- Datasets become available in Genie (2/15)
- Datasets becomes available on Panorama (2/22)

Q1 Entry Checklist:
- [x] Finalize tool [template] in preparation for Q1 initial data population (2/11)
- [x] Populate tool (2/18)
- [x] QA/QC tool (2/20)
- [x] Submit final tool(s) to PEPFAR.net (2/26)

[2019-02-20 14:46] hessionra opened #36 "Q1 Entry Prevention Trends Dashboard"
Q1 Timeline
- Q1 Initial Data Entry Period (1/7-2/15)
- Datasets become available in Genie (2/15)
- Datasets becomes available on Panorama (2/22)

Q1 Entry Checklist:
- [ ] Finalize tool [template] in preparation for Q1 initial data population (2/11)
- [ ] Populate tool (2/18)
- [ ] QA/QC tool (2/20)
- [ ] Submit final tool(s) to PEPFAR.net (2/26)

[2019-02-20 14:47] hessionra opened #37 "VMMC Dashboard"
Q1 Timeline
- Q1 Initial Data Entry Period (1/7-2/15)
- Datasets become available in Genie (2/15)
- Datasets becomes available on Panorama (2/22)

Q1 Entry Checklist:
- [x] Finalize tool [template] in preparation for Q1 initial data population (2/11)
- [x] Populate tool (2/18)
- [x] QA/QC tool (2/20)
- [x] Submit final tool(s) to PEPFAR.net (2/26)

[2019-02-20 14:48] hessionra opened #38 "Key Populations Dashboard"
Q1 Timeline
- Q1 Initial Data Entry Period (1/7-2/15)
- Datasets become available in Genie (2/15)
- Datasets becomes available on Panorama (2/22)

Q1 Entry Checklist:
- [x] Finalize tool [template] in preparation for Q1 initial data population (2/11)
- [x] Populate tool (2/18)
- [x] QA/QC tool (2/20)
- [x] Submit final tool(s) to PEPFAR.net (2/26)

[2019-02-20 14:50] hessionra opened #39 "Treatment Summary Dashboard"
Q1 Timeline
- Q1 Initial Data Entry Period (1/7-2/15)
- Datasets become available in Genie (2/15)
- Datasets becomes available on Panorama (2/22)

Q1 Entry Checklist:
- [x] Finalize tool [template] in preparation for Q1 initial data population (2/11)
- [x] Populate tool (2/18)
- [x] QA/QC tool (2/20)
- [x] Submit final tool(s) to PEPFAR.net (2/26)

[2019-02-20 14:51] hessionra opened #40 "HEI Dashboard"
Q1 Timeline
- Q1 Initial Data Entry Period (1/7-2/15)
- Datasets become available in Genie (2/15)
- Datasets becomes available on Panorama (2/22)

Q1 Entry Checklist:
- [x] Finalize tool [template] in preparation for Q1 initial data population (2/11)
- [x] Populate tool (2/18)
- [x] QA/QC tool (2/20)
- [x] Submit final tool(s) to PEPFAR.net (2/26)
- [x] Submit site final tool(s) to PEPFAR.net (3/6

[2019-02-20 14:55] hessionra opened #41 "PMTCT Global Dashboard"
Q1 Timeline
- Q1 Initial Data Entry Period (1/7-2/15)
- Datasets become available in Genie (2/15)
- Datasets becomes available on Panorama (2/22)

Q1 Entry Checklist:
- [x] Finalize tool [template] in preparation for Q1 initial data population (2/11)
- [x] Populate tool (2/18)
- [x] QA/QC tool (2/20)
- [x] Submit final tool(s) to PEPFAR.net (2/26)

[2019-02-20 14:56] hessionra opened #42 "TB/HIV Dashboard"
Q1 Timeline
- Q1 Initial Data Entry Period (1/7-2/15)
- Datasets become available in Genie (2/15)
- Datasets becomes available on Panorama (2/22)

Q1 Entry Checklist:
- [ ] Finalize tool [template] in preparation for Q1 initial data population (2/11)
- [ ] Populate tool (2/18)
- [ ] QA/QC tool (2/20)
- [ ] Submit final tool(s) to PEPFAR.net (2/26)

[2019-02-20 14:57] hessionra opened #43 "Viral Load Dashboard"
Q1 Timeline
- Q1 Initial Data Entry Period (1/7-2/15)
- Datasets become available in Genie (2/15)
- Datasets becomes available on Panorama (2/22)

Q1 Entry Checklist:
- [ ] Finalize tool [template] in preparation for Q1 initial data population (2/11)
- [ ] Populate tool (2/18)
- [ ] QA/QC tool (2/20)
- [ ] Submit final tool(s) to PEPFAR.net (2/26)

[2019-02-20 14:57] hessionra opened #44 "Partner Progress Report"
Q1 Timeline
- Q1 Initial Data Entry Period (1/7-2/15)
- Datasets become available in Genie (2/15)
- Datasets becomes available on Panorama (2/22)

Q1 Entry Checklist:
- [x] Finalize tool [template] in preparation for Q1 initial data population (2/11)
- [x] Populate tool (2/18)
- [x] QA/QC tool (2/20)
- [x] Submit final tool(s) to PEPFAR.net (2/26)

[2019-02-20 14:58] hessionra opened #45 "SIMS POART Dashboard"
Q1 Timeline
- Q1 Initial Data Entry Period (1/7-2/15)
- Datasets become available in Genie (2/15)
- Datasets becomes available on Panorama (2/22)

Q1 Entry Checklist:
- [x] Finalize tool [template] in preparation for Q1 initial data population (2/11)
- [ ] Populate tool (2/25)
- [ ] QA/QC tool (2/28)
- [ ] Submit final tool(s) to PEPFAR.net (3/4)

[2019-02-20 18:46] mehtasp commented on #45
Updated timeline to account for difference in SIMS timeline vs MER:
- Q1 template was updated by Audrey before she left on maternity leave.
- SSDs should be available by 2/22
- Tool population should begin Mon 2/25-Wed 2/27
- QA/QC occurring Thur 2/28-Fri 3/1.

[2019-02-21 14:33] cnichols3h commented on #42
Thank you @hessionra.  This tool is semi-annual, so it will not be generated for Q1.

[2019-02-25 22:22] anu87 opened #46 "Performance Trends Dashboard"
Q1 Timeline

* Q1 Initial Data Entry Period (1/7-2/15)
* Datasets become available in Genie (2/15)
* Datasets becomes available on Panorama (2/22)

Q1 Entry Checklist:

* [x]  Finalize tool [template] in preparation for Q1 initial data population (2/11)
* [x]  Populate tool (2/18)
* [x]  QA/QC tool (2/20)
* [x]  Submit final tool(s) to PEPFAR.net (2/26)

[2019-02-26 21:49] shazadahmed10 commented on #33
Update: Randy and Shazad updated the template and produced the 35 tools. Randy QC'ed the tools.
Uploaded to SP.

[2019-02-27 14:45] hessionra commented on #37
Great job all, thank you!

[2019-02-27 14:46] hessionra commented on #33
Thank you all, great job!

[2019-02-27 15:33] kimisatoPC commented on #35
This tool will now be updated on a semi-annual basis.

[2019-02-27 15:34] kimisatoPC commented on #36
This tool has been retired.

[2019-02-27 15:34] #36 closed, assigned to jb3436, kimisatoPC, erinschelar

[2019-02-27 20:51] vanamala-narasimhan commented on #38
QC Complete

[2019-02-28 14:16] hessionra commented on #44
Thank you @achafetz , great job!

[2019-02-28 14:54] hessionra commented on #38
Thank you @vanamala-narasimhan @wvp3 @Yabayabadoo , great work!

[2019-02-28 20:01] KatieOC commented on #40
still pending is the site level tools which we will have to do next week but the global is complete.

[2019-03-01 15:25] hessionra commented on #34
Thank you @kimisatoPC ,great work!

[2019-03-01 17:01] hessionra commented on #32
Thank you @shazadahmed10 , great work!

[2019-03-06 23:07] anu87 commented on #43
Submitted revised version for feedback:
[https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Clusters/HIV-TB%20Diagnosis/Working%20Folder/VL_Tool_Global_FY19Q1_030619_V5.xlsb](url)

[2019-03-08 17:19] KatieOC commented on #41
posted.

[2019-03-08 17:20] KatieOC commented on #40
site level posted.

[2019-03-08 17:21] KatieOC commented on #46
QC and posted on 3/1.

[2019-03-08 17:22] KatieOC commented on #39
posted last week.

[2019-03-18 17:27] hessionra commented on #32
Q1 Clean Timeline
- Q1 Clean Data Entry Period (3/4-3/22)
- Datasets become available in Genie (3/22)
- Datasets becomes available on Panorama (3/29)

Q1 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q1 clean data population (3/18)
- [x] Populate tool (3/25)
- [x] QA/QC tool (3/27)
- [x] Submit final tool(s) to PEPFAR.net (4/2)

[2019-03-18 17:31] hessionra commented on #43
Q1 Clean Timeline
- Q1 Clean Data Entry Period (3/4-3/22)
- Datasets become available in Genie (3/22)
- Datasets becomes available on Panorama (3/29)

Q1 Clean Checklist:
- [ ] Finalize tool [template] in preparation for Q1 clean data population (3/18)
- [ ] Populate tool (3/25)
- [ ] QA/QC tool (3/27)
- [ ] Submit final tool(s) to PEPFAR.net (4/2)

[2019-03-18 17:31] hessionra commented on #45
Q1 Clean Timeline
- Q1 Clean Data Entry Period (3/4-3/22)
- Datasets become available in Genie (3/22)
- Datasets becomes available on Panorama (3/29)

Q1 Clean Checklist:
- [ ] Finalize tool [template] in preparation for Q1 clean data population (3/18)
- [ ] Populate tool (3/25)
- [ ] QA/QC tool (3/27)
- [ ] Submit final tool(s) to PEPFAR.net (4/2)

[2019-03-18 17:32] hessionra commented on #33
Q1 Clean Timeline
- Q1 Clean Data Entry Period (3/4-3/22)
- Datasets become available in Genie (3/22)
- Datasets becomes available on Panorama (3/29)

Q1 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q1 clean data population (3/18)
- [x] Populate tool (3/25)
- [x] QA/QC tool (3/27)
- [x] Submit final tool(s) to PEPFAR.net (4/2)

[2019-03-18 17:33] hessionra commented on #31
Q1 Clean Timeline
- Q1 Clean Data Entry Period (3/4-3/22)
- Datasets become available in Genie (3/22)
- Datasets becomes available on Panorama (3/29)

Q1 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q1 clean data population (3/18)
- [x] Populate tool (3/25)
- [x] QA/QC tool (3/27)
- [x] Submit final tool(s) to PEPFAR.net (4/2)

[2019-03-18 17:33] hessionra commented on #29
Q1 Clean Timeline
- Q1 Clean Data Entry Period (3/4-3/22)
- Datasets become available in Genie (3/22)
- Datasets becomes available on Panorama (3/29)

Q1 Clean Checklist:
- [ ] Finalize tool [template] in preparation for Q1 clean data population (3/18)
- [ ] Populate tool (3/25)
- [ ] QA/QC tool (3/27)
- [ ] Submit final tool(s) to PEPFAR.net (4/2)

[2019-03-18 17:33] hessionra commented on #37
Q1 Clean Timeline
- Q1 Clean Data Entry Period (3/4-3/22)
- Datasets become available in Genie (3/22)
- Datasets becomes available on Panorama (3/29)

Q1 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q1 clean data population (3/18)
- [x] Populate tool (3/25)
- [x] QA/QC tool (3/27)
- [x] Submit final tool(s) to PEPFAR.net (4/2)

[2019-03-18 17:34] hessionra commented on #30
Q1 Clean Timeline
- Q1 Clean Data Entry Period (3/4-3/22)
- Datasets become available in Genie (3/22)
- Datasets becomes available on Panorama (3/29)

Q1 Clean Checklist:
- [ ] Finalize tool [template] in preparation for Q1 clean data population (3/18)
- [ ] Populate tool (3/25)
- [ ] QA/QC tool (3/27)
- [ ] Submit final tool(s) to PEPFAR.net (4/2)

[2019-03-18 17:35] hessionra commented on #41
Q1 Clean Timeline
- Q1 Clean Data Entry Period (3/4-3/22)
- Datasets become available in Genie (3/22)
- Datasets becomes available on Panorama (3/29)

Q1 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q1 clean data population (3/18)
- [x] Populate tool (3/25)
- [x] QA/QC tool (3/27)
- [x] Submit final tool(s) to PEPFAR.net (4/2)

[2019-03-18 17:35] #30 closed, assigned to KatieOC

[2019-03-18 17:35] hessionra commented on #46
Q1 Clean Timeline
- Q1 Clean Data Entry Period (3/4-3/22)
- Datasets become available in Genie (3/22)
- Datasets becomes available on Panorama (3/29)

Q1 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q1 clean data population (3/18)
- [x] Populate tool (3/25)
- [x] QA/QC tool (3/27)
- [x] Submit final tool(s) to PEPFAR.net (4/2)

[2019-03-18 17:36] hessionra commented on #44
Q1 Clean Timeline
- Q1 Clean Data Entry Period (3/4-3/22)
- Datasets become available in Genie (3/22)
- Datasets becomes available on Panorama (3/29)

Q1 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q1 clean data population (3/18)
- [x] Populate tool (3/25)
- [x] QA/QC tool (3/27)
- [x] Submit final tool(s) to PEPFAR.net (4/2)

[2019-03-18 17:37] hessionra commented on #39
Q1 Clean Timeline
- Q1 Clean Data Entry Period (3/4-3/22)
- Datasets become available in Genie (3/22)
- Datasets becomes available on Panorama (3/29)

Q1 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q1 clean data population (3/18)
- [x] Populate tool (3/25)
- [x] QA/QC tool (3/27)
- [x] Submit final tool(s) to PEPFAR.net (4/2)

[2019-03-18 17:37] hessionra commented on #38
Q1 Clean Timeline
- Q1 Clean Data Entry Period (3/4-3/22)
- Datasets become available in Genie (3/22)
- Datasets becomes available on Panorama (3/29)

Q1 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q1 clean data population (3/18)
- [x] Populate tool (3/25)
- [x] QA/QC tool (3/27)
- [x] Submit final tool(s) to PEPFAR.net (4/2)

[2019-03-18 17:38] hessionra commented on #34
Q1 Clean Timeline
- Q1 Clean Data Entry Period (3/4-3/22)
- Datasets become available in Genie (3/22)
- Datasets becomes available on Panorama (3/29)

Q1 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q1 clean data population (3/18)
- [x] Populate tool (3/25)
- [x] QA/QC tool (3/27)
- [x] Submit final tool(s) to PEPFAR.net (4/2)

[2019-04-01 05:43] hessionra commented on #29
@anu87 Please let us know if this will be ready for submission on 4/2!

Looping in @jb3436

[2019-04-01 05:45] hessionra commented on #31
@KatieOC Please let us know if this will be ready for submission on 4/2!

Looping in @jb3436

[2019-04-01 06:16] hessionra commented on #32
@shazadahmed10 Please let us know if this will be ready for submission on 4/2!

Looping in @jb3436

[2019-04-01 06:16] hessionra commented on #33
@shazadahmed10 Please let us know if this will be ready for submission on 4/2!

Looping in @jb3436

[2019-04-01 06:17] hessionra commented on #34
@kimisatoPC Please let us know if this will be ready for submission on 4/2!

Looping in @jb3436

[2019-04-01 06:22] hessionra commented on #37
@aliyahwakil Please let us know if this will be ready for submission on 4/2!

Looping in @jb3436

[2019-04-01 06:23] hessionra commented on #38
@wvp3 @vanamala-narasimhan @Yabayabadoo Please let us know if this will be ready for submission on 4/2!

Looping in @jb3436

[2019-04-01 06:23] hessionra commented on #39
@MicSherlock @imujawar @aliyahwakil @nmcarloni Please let us know if this will be ready for submission on 4/2!

Looping in @jb3436

[2019-04-01 06:24] hessionra commented on #41
@KatieOC Please let us know if this will be ready for submission on 4/2!

Looping in @jb3436

[2019-04-01 06:24] hessionra commented on #44
@achafetz Please let us know if this will be ready for submission on 4/2!

Looping in @jb3436

[2019-04-01 06:25] hessionra commented on #46
@anu87 Please let us know if this will be ready for submission on 4/2!

Looping in @jb3436

[2019-04-01 06:32] hessionra commented on #45
@mehtasp Please feel free to adjust the checklist dates (above) to fit SIMS' timeline!

Looping in @jb3436

[2019-04-01 11:59] anu87 commented on #46
Yes, the tool will be ready

[2019-04-01 12:18] MicSherlock commented on #39
Hi Rebecca,
I think we should be ready to go. We will give you a head’s up at COB if we run into any snags.
Michelle

Michelle Williams-Sherlock, MPH
Epidemiologist
HCTB/DGHT/CDC

From: Rebecca Hession [mailto:notifications@github.com]
Sent: Monday, April 1, 2019 2:24 AM
To: ICPI/ICPI-Product-Tracker <ICPI-Product-Tracker@noreply.github.com>
Cc: Williams Sherlock, Michelle (CDC/DDPHSIS/CGH/DGHT) <

[2019-04-01 12:59] achafetz commented on #44
Yep. I'll update them at the end of the day today!

[2019-04-01 13:51] aliyahwakil commented on #37
The tool will be submitted by 4/2  @hessionra @jb3436

[2019-04-01 18:31] achafetz commented on #44
They up loaded up on PEPFAR Sharepoint now :)

[2019-04-01 19:23] nmcdavid commented on #31
Hi @hessionra - I've populated the tool with clean FY19Q1 data and I'll upload to our working folder in PEPFAR.net. I'm working on QC'ing the tool but would like a second pair of eyes.

[2019-04-01 19:26] nmcdavid commented on #31
Also, I'm hoping to complete the site-level dashboards by 3pm tomorrow, latest COB tomorrow.

[2019-04-02 16:22] vanamala-narasimhan commented on #38
Tool population complete, on QC step

[2019-04-02 21:49] randyyee commented on #33
@shazadahmed10
@hessionra

All CHIPS tools QC'd and uploaded on SP. Require approval to publish.

[2019-04-02 21:52] MicSherlock commented on #39
The TSD is now posted on PEPFAR.net.<https://www.pepfar.net/OGAC-HQ/icpi/Products/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FProducts%2FICPI%20Approved%20Tools%20%28Most%20Current%20Versions%29%2FTreatment%20Dashboards%2FTreatment%20Summary%20Dashboard%2FTSD%20FY2019Q1%5FClean%20Data&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC00C3CC873FA325DD44884DEFC36053A859&View=%7B58E3102A%2D

[2019-04-03 03:24] hessionra commented on #44
Thank you @achafetz , great work!

[2019-04-03 03:24] hessionra commented on #31
Great, thank you @nmcdavid !

[2019-04-03 03:26] hessionra commented on #38
Thank you @vanamala-narasimhan ! Once it is uploaded to pepfar.net, please move the ticket to "Huddle Ready" in the project.

[2019-04-03 03:27] hessionra commented on #33
Thank you @randyyee , great work!

@shazadahmed10 let me know if you need me to approve the files.

[2019-04-03 03:28] hessionra commented on #39
Thank you @MicSherlock @aliyahwakil @nmcarloni , great work!

[2019-04-03 12:27] kimisatoPC commented on #34
@hessionra @jb3436 Q1 clean DREAMS dashboard is huddle ready

[2019-04-03 19:10] KatieOC commented on #41
@hessionra and @jb3436 I am QCing now.

[2019-04-03 20:17] KatieOC commented on #31
initial QC complete, pending a few updates from @nmcdavid

[2019-04-03 20:18] KatieOC commented on #41
QC complete and posted.

[2019-04-04 06:15] hessionra commented on #34
Thank you @kimisatoPC , great work!

[2019-04-04 06:17] hessionra commented on #41
Thank you @KatieOC , great work!

[2019-04-04 06:20] hessionra commented on #32
@shazadahmed10 let us know if you have any updates or if you have hit any snags!

[2019-04-04 19:09] KatieOC commented on #31
global posted. will be posting site level shortly.

[2019-04-04 19:09] #31 closed, assigned to KatieOC, nmcdavid

[2019-04-04 19:24] shazadahmed10 commented on #32
HITS tools have been produced, QCed and posted on SP

[2019-04-05 06:05] hessionra commented on #31
Thank you @KatieOC and @nmcdavid , great work!

[2019-04-05 06:07] hessionra commented on #32
Thank you @shazadahmed10 , great work!

[2019-04-15 16:13] kkale25 commented on #38
QC completed (Mala and Kashmira) on 4/5. Email from Mala sent on 4/5 confirming ready for Huddle population.

SUBJECT: Key Pop Dashboard - in QC and Ready by COB
Hello,

Here is the link to the most updated version of the Key Pop dashboard. We will be completing QC this afternoon and it should be ready for huddle by COB.

https://www.pepfar.net/OGAC-HQ/icpi/Products/Forms/AllItems.aspx?RootFolder=

[2019-04-24 17:06] hessionra commented on #34
Q2 Initial Timeline
- Q2 Initial Data Entry Period (4/1-5/15)
- Datasets become available in Genie (5/15)
- Datasets becomes available on Panorama (5/22)

Q2 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q2 initial data population (5/13)
- [x] Populate tool (5/16)
- [x] QA/QC tool (5/20)
- [x] Submit final tool(s) to PEPFAR.net (5/24)

[2019-04-24 17:06] hessionra commented on #29
Q2 Initial Timeline
- Q2 Initial Data Entry Period (4/1-5/15)
- Datasets become available in Genie (5/15)
- Datasets becomes available on Panorama (5/22)

Q2 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q2 initial data population (5/13)
- [x] Populate tool (5/16)
- [x] QA/QC tool (5/20)
- [x] Submit final tool(s) to PEPFAR.net (5/24)

[2019-04-24 17:07] hessionra commented on #46
Q2 Initial Timeline
- Q2 Initial Data Entry Period (4/1-5/15)
- Datasets become available in Genie (5/15)
- Datasets becomes available on Panorama (5/22)

Q2 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q2 initial data population (5/13)
- [x] Populate tool (5/16)
- [x] QA/QC tool (5/20)
- [x] Submit final tool(s) to PEPFAR.net (5/24

[2019-04-24 17:07] hessionra commented on #44
Q2 Initial Timeline
- Q2 Initial Data Entry Period (4/1-5/15)
- Datasets become available in Genie (5/15)
- Datasets becomes available on Panorama (5/22)

Q2 Initial Checklist:
- [ ] Finalize tool [template] in preparation for Q2 initial data population (5/13)
- [x] Populate tool (5/16)
- [x] QA/QC tool (5/20)
- [x] Submit final tool(s) to PEPFAR.net (5/24

[2019-04-24 17:08] hessionra commented on #42
Q2 Initial Timeline
- Q2 Initial Data Entry Period (4/1-5/15)
- Datasets become available in Genie (5/15)
- Datasets becomes available on Panorama (5/22)

Q2 Initial Checklist:
- [ ] Finalize tool [template] in preparation for Q2 initial data population (5/13)
- [ ] Populate tool (5/16)
- [ ] QA/QC tool (5/20)
- [ ] Submit final tool(s) to PEPFAR.net (5/24

[2019-04-24 17:08] hessionra commented on #41
Q2 Initial Timeline
- Q2 Initial Data Entry Period (4/1-5/15)
- Datasets become available in Genie (5/15)
- Datasets becomes available on Panorama (5/22)

Q2 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q2 initial data population (5/13)
- [x] Populate tool (5/16)
- [x] QA/QC tool (5/20)
- [x] Submit final tool(s) to PEPFAR.net (5/24

[2019-04-24 17:09] hessionra commented on #40
Q2 Initial Timeline
- Q2 Initial Data Entry Period (4/1-5/15)
- Datasets become available in Genie (5/15)
- Datasets becomes available on Panorama (5/22)

Q2 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q2 initial data population (5/13)
- [x] Populate tool (5/16)
- [x] QA/QC tool (5/20)
- [x] Submit final tool(s) to PEPFAR.net (5/24

[2019-04-24 17:10] hessionra commented on #39
Q2 Initial Timeline
- Q2 Initial Data Entry Period (4/1-5/15)
- Datasets become available in Genie (5/15)
- Datasets becomes available on Panorama (5/22)

Q2 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q2 initial data population (5/13)
- [x] Populate tool (5/16)
- [x] QA/QC tool (5/20)
- [x] Submit final tool(s) to PEPFAR.net (5/24

[2019-04-24 17:10] hessionra commented on #38
Q2 Initial Timeline
- Q2 Initial Data Entry Period (4/1-5/15)
- Datasets become available in Genie (5/15)
- Datasets becomes available on Panorama (5/22)

Q2 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q2 initial data population (5/13)
- [x] Populate tool (5/16)
- [x] QA/QC tool (5/20)
- [x] Submit final tool(s) to PEPFAR.net (5/24

[2019-04-24 17:11] hessionra commented on #37
Q2 Initial Timeline
- Q2 Initial Data Entry Period (4/1-5/15)
- Datasets become available in Genie (5/15)
- Datasets becomes available on Panorama (5/22)

Q2 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q2 initial data population (5/13)
- [x] Populate tool (5/16)
- [x] QA/QC tool (5/20)
- [x] Submit final tool(s) to PEPFAR.net (5/24

[2019-04-24 17:11] hessionra commented on #35
Q2 Initial Timeline
- Q2 Initial Data Entry Period (4/1-5/15)
- Datasets become available in Genie (5/15)
- Datasets becomes available on Panorama (5/22)

Q2 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q2 initial data population (5/13)
- [x] Populate tool (5/16)
- [x] QA/QC tool (5/20)
- [x] Submit final tool(s) to PEPFAR.net (5/24

[2019-04-24 17:12] hessionra commented on #33
Q2 Initial Timeline
- Q2 Initial Data Entry Period (4/1-5/15)
- Datasets become available in Genie (5/15)
- Datasets becomes available on Panorama (5/22)

Q2 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q2 initial data population (5/13)
- [x] Populate tool (5/16)
- [x] QA/QC tool (5/20)
- [x] Submit final tool(s) to PEPFAR.net (5/24

[2019-04-24 17:12] hessionra commented on #32
Q2 Initial Timeline
- Q2 Initial Data Entry Period (4/1-5/15)
- Datasets become available in Genie (5/15)
- Datasets becomes available on Panorama (5/22)

Q2 Initial Checklist:
- [ ] Finalize tool [template] in preparation for Q2 initial data population (5/13)
- [ ] Populate tool (5/16)
- [ ] QA/QC tool (5/20)
- [ ] Submit final tool(s) to PEPFAR.net (5/24

[2019-05-06 14:25] hessionra commented on #21
Q2 Initial Timeline
- Q2 Initial Data Entry Period (4/1-5/15)
- Datasets become available in Genie (5/15)
- Datasets becomes available on Panorama (5/22)

Q2 Initial Checklist:
- [ ] Finalize tool [template] in preparation for Q2 initial data population (5/13)
- [ ] Populate tool (5/16)
- [ ] QA/QC tool (5/20)
- [ ] Submit final tool(s) to PEPFAR.net (5/24

[2019-05-24 15:41] aliyahwakil commented on #37
The tool was QC'd earlier this week. I had to make some changes to it today. I plan to have it posted early next week after it goes through it's second round of QC.

[2019-05-28 13:34] hessionra commented on #46
@anu87 @KatieOC @MicSherlock any updates on Performance Trends?

[2019-05-28 14:11] hessionra commented on #41
@KatieOC @MicSherlock checking on the status of PMTCT and if it will be ready for the Huddle today!

[2019-05-28 14:13] hessionra commented on #39
@MicSherlock @KatieOC @nmcarloni @aliyahwakil @imujawar checking on the status of TSD and if it will be ready for the Huddle today!

[2019-05-28 14:13] hessionra commented on #32
@shazadahmed10 @mehtasp @faithfawale @kkale25 checking on the status of HITS and if it will be ready for the Huddle today!

[2019-05-28 14:14] hessionra commented on #33
@shazadahmed10 @mehtasp @kkale25 checking on the status of CHIPS and if it will be ready for the Huddle today!

[2019-05-28 14:15] hessionra commented on #42
@cnichols3h @mehtasp @kkale25 checking on the status of TB/HIV and if it will be ready for the Huddle today!

[2019-05-28 14:16] hessionra commented on #40
@nmcdavid has completed Global HEI Dashboard, @hessionra to work on site level dashboards this week. @mehtasp @kkale25

[2019-05-28 14:18] hessionra commented on #29
@anu87 @mehtasp @kkale25 checking on the status of VL and if it will be ready for the Huddle today!

[2019-05-28 14:21] hessionra commented on #38
@wvp3 @Yabayabadoo @vanamala-narasimhan checking on the status of KP and if it will be ready for the Huddle today!

[2019-05-28 14:22] hessionra commented on #44
@achafetz checking on the status of PPR and if it will be ready for the Huddle today!

[2019-05-28 14:46] vanamala-narasimhan commented on #38
Tool population complete, on QC step.

[2019-05-28 14:56] randyyee commented on #33
@hessionra Tool is ready! Can you approve in SharePoint?

[2019-05-28 15:17] hessionra commented on #33
@randyyee Thank you! Approved them on SP!

[2019-05-28 15:30] achafetz commented on #44
Maybe but not likely.

On Tue, May 28, 2019 at 10:22 AM Rebecca Hession <notifications@github.com>
wrote:

--
AARON CHAFETZ, MPP
Data Analyst, Office of HIV/AIDS
US AGENCY FOR INTERNATIONAL DEVELOPMENT
2100 Crystal City Drive, Arlington, VA 22202
m (202) 257-6164 | achafetz@usaid.gov | usaid.gov

[2019-05-28 16:38] hessionra commented on #44
Thanks for letting us know! If not done today, do you have an idea of when it could be done? @achafetz

[2019-05-28 17:43] KatieOC commented on #40
@hessionra QC complete on global dashboard. Ready to post. @hessionra can you? I am re-running code and its taking a lot of bandwidth of my computer.

[2019-05-28 17:44] KatieOC commented on #41
@hessionra maybe :)

[2019-05-28 17:50] hessionra commented on #40
@KatieOC @nmcdavid I uploaded it and it is approved!

We can include a read.me file in the site level folder that they are on their way.

[2019-05-28 19:02] achafetz commented on #44
Hopefully by week's end if I can carve out the time

[2019-05-29 15:49] vanamala-narasimhan commented on #38
Final tool submission complete

[2019-05-30 12:28] KatieOC commented on #41
posted.

[2019-05-30 12:29] KatieOC commented on #39
posted.

[2019-05-30 12:31] KatieOC commented on #40
- [ ] Populate site level dashboards
- [ ] submit final tool(s) to PEPFAR.net

@nmcdavid @hessionra

[2019-06-03 19:38] achafetz commented on #44
Sorry for the delay. I was able to QC today and post the reports today.

[2019-06-04 16:21] #29 closed, assigned to jb3436, anu87, mehtasp, kkale25

[2019-06-18 15:40] jaliasd opened #47 "CHIPS tool fix commas"
@HoustonJamie @shazadahmed10

Hi all, reviewing the ECTIII slides and this looks like its from the CHIPS tool, the Q2 values in this table don't have commas

[2019-06-18 20:07] hessionra commented on #40
Q2 Clean Timeline
- Q2 Clean Data Entry Period (6/3-6/21)
- Datasets become available in Genie (6/21)
- Datasets becomes available on Panorama (6/28)

Q2 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q2 clean data population (6/17)
- [ ] Populate tool (6/24)
- [ ] QA/QC tool (6/26)
- [ ] Submit final tool(s) to PEPFAR.net (7/2)

[2019-06-18 20:08] hessionra commented on #46
Q2 Clean Timeline
- Q2 Clean Data Entry Period (6/3-6/21)
- Datasets become available in Genie (6/21)
- Datasets becomes available on Panorama (6/28)

Q2 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q2 clean data population (6/17)
- [x] Populate tool (6/24)
- [ ] QA/QC tool (6/26)
- [x] Submit final tool(s) to PEPFAR.net (7/2)

[2019-06-18 20:08] hessionra commented on #44
Q2 Clean Timeline
- Q2 Clean Data Entry Period (6/3-6/21)
- Datasets become available in Genie (6/21)
- Datasets becomes available on Panorama (6/28)

Q2 Clean Checklist:
- [ ] Finalize tool [template] in preparation for Q2 clean data population (6/17)
- [ ] Populate tool (6/24)
- [ ] QA/QC tool (6/26)
- [ ] Submit final tool(s) to PEPFAR.net (7/2)

[2019-06-18 20:09] hessionra commented on #43
Q2 Clean Timeline
- Q2 Clean Data Entry Period (6/3-6/21)
- Datasets become available in Genie (6/21)
- Datasets becomes available on Panorama (6/28)

Q2 Clean Checklist:
- [ ] Finalize tool [template] in preparation for Q2 clean data population (6/17)
- [ ] Populate tool (6/24)
- [ ] QA/QC tool (6/26)
- [ ] Submit final tool(s) to PEPFAR.net (7/2)

[2019-06-18 20:18] hessionra commented on #42
Q2 Clean Timeline
- Q2 Clean Data Entry Period (6/3-6/21)
- Datasets become available in Genie (6/21)
- Datasets becomes available on Panorama (6/28)

Q2 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q2 clean data population (6/17)
- [x] Populate tool (6/24)
- [ ] QA/QC tool (6/26)
- [x] Submit final tool(s) to PEPFAR.net (7/2)

[2019-06-18 20:18] hessionra commented on #41
Q2 Clean Timeline
- Q2 Clean Data Entry Period (6/3-6/21)
- Datasets become available in Genie (6/21)
- Datasets becomes available on Panorama (6/28)

Q2 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q2 clean data population (6/17)
- [x] Populate tool (6/24)
- [x] QA/QC tool (6/26)
- [x] Submit final tool(s) to PEPFAR.net (7/2)

[2019-06-18 20:19] hessionra commented on #39
Q2 Clean Timeline
- Q2 Clean Data Entry Period (6/3-6/21)
- Datasets become available in Genie (6/21)
- Datasets becomes available on Panorama (6/28)

Q2 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q2 clean data population (6/17)
- [x] Populate tool (6/24)
- [x] QA/QC tool (6/26)
- [x] Submit final tool(s) to PEPFAR.net (7/2)

[2019-06-18 20:20] hessionra commented on #38
Q2 Clean Timeline
- Q2 Clean Data Entry Period (6/3-6/21)
- Datasets become available in Genie (6/21)
- Datasets becomes available on Panorama (6/28)

Q2 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q2 clean data population (6/17)
- [x] Populate tool (6/24)
- [x] QA/QC tool (6/26)
- [x] Submit final tool(s) to PEPFAR.net (7/2)

[2019-06-18 20:21] hessionra commented on #35
Q2 Clean Timeline
- Q2 Clean Data Entry Period (6/3-6/21)
- Datasets become available in Genie (6/21)
- Datasets becomes available on Panorama (6/28)

Q2 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q2 clean data population (6/17)
- [x] Populate tool (6/24)
- [x] QA/QC tool (6/26)
- [x] Submit final tool(s) to PEPFAR.net (7/2)

[2019-06-18 20:21] hessionra commented on #34
Q2 Clean Timeline
- Q2 Clean Data Entry Period (6/3-6/21)
- Datasets become available in Genie (6/21)
- Datasets becomes available on Panorama (6/28)

Q2 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q2 clean data population (6/17)
- [x] Populate tool (6/24)
- [x] QA/QC tool (6/26)
- [x] Submit final tool(s) to PEPFAR.net (7/2)

[2019-06-18 20:22] hessionra commented on #33
Q2 Clean Timeline
- Q2 Clean Data Entry Period (6/3-6/21)
- Datasets become available in Genie (6/21)
- Datasets becomes available on Panorama (6/28)

Q2 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q2 clean data population (6/17)
- [x] Populate tool (6/24)
- [x] QA/QC tool (6/26)
- [x] Submit final tool(s) to PEPFAR.net (7/2)

[2019-06-18 20:22] hessionra commented on #32
Q2 Clean Timeline
- Q2 Clean Data Entry Period (6/3-6/21)
- Datasets become available in Genie (6/21)
- Datasets becomes available on Panorama (6/28)

Q2 Clean Checklist:
- [ ] Finalize tool [template] in preparation for Q2 clean data population (6/17)
- [ ] Populate tool (6/24)
- [ ] QA/QC tool (6/26)
- [ ] Submit final tool(s) to PEPFAR.net (7/2)

[2019-06-18 20:23] hessionra commented on #37
Q2 Clean Timeline
- Q2 Clean Data Entry Period (6/3-6/21)
- Datasets become available in Genie (6/21)
- Datasets becomes available on Panorama (6/28)

Q2 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q2 clean data population (6/17)
- [x] Populate tool (6/24)
- [x] QA/QC tool (6/26)
- [x] Submit final tool(s) to PEPFAR.net (7/2)

[2019-06-25 19:31] hessionra commented on #40
@anu87 is updating R Code to use Genie for Global dashboard; will still use MSD for OU-specific dashboards since require site level data.

I am aiming to have global dashboard finished by COB Friday 6/28 and will put note in OU-specific dashboard folder that they are still being developed. Will do them when return from leave 7/8.

[2019-06-28 14:49] hessionra commented on #40
Update for @mehtasp --- @anu87 and I decided to update R Code for Genie for Q3 initial and use MSD for Q2 clean. MSD slated to be released tonight, so will populate dashboard when I return 7/8 (when Huddle is now slated to be released)

[2019-07-02 13:09] kimisatoPC commented on #34
The FY19Q2 CLEAN DREAMS dashboard has been QC-ed and posted.

[2019-07-02 16:50] kimisatoPC commented on #35
Prevention summary dashboard has been QC-ed and posted.

[2019-07-05 18:30] randyyee commented on #33
Sorry forgot to check this off, tools were ready Monday, July 1st

[2019-07-09 15:15] hessionra commented on #34
Great job Kimi, thank you!

[2019-07-10 15:39] wvp3 commented on #38
[https://www.pepfar.net/OGAC-HQ/icpi/Products/ICPI%20Approved%20Tools%20(Most%20Current%20Versions)/Key%20Populations%20Dashboard/ICPI_KP%20Tool_FY19Q2_Clean_Jul10.xlsx](url)

Requesting the following QC assignments, one person per tab:
-	Clinical cascade = Yaa
-	Progress to target = Mala
-	Yield modality / kp = Jenny
-	PREP = Jasmine

I recommend testing a couple OUs (One LTS country and one regi

[2019-07-10 21:01] wvp3 commented on #38
Done update and passed standard QC.
Uploaded for FY2019Q2.

[2019-07-16 18:25] hessionra commented on #40
Did quick QC of @nmcdavid 's work on the clean Q2 dashboard, uploaded global to SharePoint but still working on OU specific dashboards.

@mehtasp @anu87

[2019-07-30 14:58] hessionra commented on #35
Q3 Initial Timeline
- Q3 Initial Data Entry Period (7/1-8/15)
- MSD Pre-Release (7/25)
- Datasets become available in Genie (8/15)
- Datasets becomes available on Panorama (8/22)

Q3 Initial Checklist:
- [ ] Finalize tool [template] in preparation for Q3 initial data population (8/12)
- [ ] Populate tool (8/16)
- [ ] QA/QC tool (8/20)
- [ ] Submit final tool(s) to PEPFAR.net (8/26)

[2019-07-30 14:59] hessionra commented on #41
Q3 Initial Timeline
- Q3 Initial Data Entry Period (7/1-8/15)
- MSD Pre-Release (7/25)
- Datasets become available in Genie (8/15)
- Datasets becomes available on Panorama (8/22)

Q3 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q3 initial data population (8/12)
- [x] Populate tool (8/16)
- [x] QA/QC tool (8/20)
- [x] Submit final tool(s) to PEPFAR.net (8/26)

[2019-07-30 14:59] hessionra commented on #42
Q3 Initial Timeline
- Q3 Initial Data Entry Period (7/1-8/15)
- MSD Pre-Release (7/25)
- Datasets become available in Genie (8/15)
- Datasets becomes available on Panorama (8/22)

Q3 Initial Checklist:
- [ ] Finalize tool [template] in preparation for Q3 initial data population (8/12)
- [ ] Populate tool (8/16)
- [ ] QA/QC tool (8/20)
- [ ] Submit final tool(s) to PEPFAR.net (8/26)

[2019-07-30 15:04] hessionra commented on #43
Q3 Initial Timeline
- Q3 Initial Data Entry Period (7/1-8/15)
- MSD Pre-Release (7/25)
- Datasets become available in Genie (8/15)
- Datasets becomes available on Panorama (8/22)

Q3 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q3 initial data population (8/12)
- [x] Populate tool (8/16)
- [x] QA/QC tool (8/20)
- [x] Submit final tool(s) to PEPFAR.net (8/26)

[2019-07-30 15:04] hessionra commented on #44
Q3 Initial Timeline
- Q3 Initial Data Entry Period (7/1-8/15)
- MSD Pre-Release (7/25)
- Datasets become available in Genie (8/15)
- Datasets becomes available on Panorama (8/22)

Q3 Initial Checklist:
- [ ] Finalize tool [template] in preparation for Q3 initial data population (8/12)
- [ ] Populate tool (8/16)
- [ ] QA/QC tool (8/20)
- [ ] Submit final tool(s) to PEPFAR.net (8/26)

[2019-07-30 15:05] hessionra commented on #46
Q3 Initial Timeline
- Q3 Initial Data Entry Period (7/1-8/15)
- MSD Pre-Release (7/25)
- Datasets become available in Genie (8/15)
- Datasets becomes available on Panorama (8/22)

Q3 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q3 initial data population (8/12)
- [x] Populate tool (8/16)
- [x] QA/QC tool (8/20)
- [x] Submit final tool(s) to PEPFAR.net (8/26)

[2019-07-30 15:05] hessionra commented on #40
Q3 Initial Timeline
- Q3 Initial Data Entry Period (7/1-8/15)
- MSD Pre-Release (7/25)
- Datasets become available in Genie (8/15)
- Datasets becomes available on Panorama (8/22)

Q3 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q3 initial data population (8/12)
- [x] Populate tool (8/16)
- [ ] QA/QC tool (8/20)
- [ ] Submit final tool(s) to PEPFAR.net (8/26)

[2019-07-30 15:06] hessionra commented on #39
Q3 Initial Timeline
- Q3 Initial Data Entry Period (7/1-8/15)
- MSD Pre-Release (7/25)
- Datasets become available in Genie (8/15)
- Datasets becomes available on Panorama (8/22)

Q3 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q3 initial data population (8/12)
- [x] Populate tool (8/16)
- [x] QA/QC tool (8/20)
- [ ] Submit final tool(s) to PEPFAR.net (8/26)

[2019-07-30 15:06] hessionra commented on #38
Q3 Initial Timeline
- Q3 Initial Data Entry Period (7/1-8/15)
- MSD Pre-Release (7/25)
- Datasets become available in Genie (8/15)
- Datasets becomes available on Panorama (8/22)

Q3 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q3 initial data population (8/12)
- [x] Populate tool (8/16)
- [x] QA/QC tool (8/20)
- [x] Submit final tool(s) to PEPFAR.net (8/26)

[2019-07-30 15:07] hessionra commented on #37
Q3 Initial Timeline
- Q3 Initial Data Entry Period (7/1-8/15)
- MSD Pre-Release (7/25)
- Datasets become available in Genie (8/15)
- Datasets becomes available on Panorama (8/22)

Q3 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q3 initial data population (8/12)
- [x] Populate tool (8/16)
- [x] QA/QC tool (8/20)
- [x] Submit final tool(s) to PEPFAR.net (9/3)

[2019-07-30 15:07] hessionra commented on #34
Q3 Initial Timeline
- Q3 Initial Data Entry Period (7/1-8/15)
- MSD Pre-Release (7/25)
- Datasets become available in Genie (8/15)
- Datasets becomes available on Panorama (8/22)

Q3 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q3 initial data population (8/12)
- [x] Populate tool (8/16)
- [x] QA/QC tool (8/20)
- [x] Submit final tool(s) to PEPFAR.net (8/26)

[2019-07-30 15:08] hessionra commented on #33
Q3 Initial Timeline
- Q3 Initial Data Entry Period (7/1-8/15)
- MSD Pre-Release (7/25)
- Datasets become available in Genie (8/15)
- Datasets becomes available on Panorama (8/22)

Q3 Initial Checklist:
- [x] Finalize tool [template] in preparation for Q3 initial data population (8/12)
- [x] Populate tool (8/16)
- [x] QA/QC tool (8/20)
- [x] Submit final tool(s) to PEPFAR.net (8/26)

[2019-07-30 15:10] hessionra commented on #32
Q3 Initial Timeline
- Q3 Initial Data Entry Period (7/1-8/15)
- MSD Pre-Release (7/25)
- Datasets become available in Genie (8/15)
- Datasets becomes available on Panorama (8/22)

Q3 Initial Checklist:
- [ ] Finalize tool [template] in preparation for Q3 initial data population (8/12)
- [ ] Populate tool (8/16)
- [ ] QA/QC tool (8/20)
- [ ] Submit final tool(s) to PEPFAR.net (8/26)

[2019-08-26 18:25] kimisatoPC commented on #34
FY19Q3 DREAMS dashboard ready for Huddle @hessionra

[2019-08-26 18:25] kimisatoPC commented on #35
@hessionra Prevention Summary Dashboard only updated at Q2/Q4

[2019-08-27 20:02] hessionra commented on #35
Thank you, Kimi!

[2019-08-27 20:03] hessionra commented on #34
Great job, thank you @kimisatoPC !

[2019-08-29 19:49] hessionra commented on #37
Thank you @aliyahwakil , great job!

[2019-09-03 16:43] hessionra commented on #46
@anu87 Please let us know if this will be ready for submission COB today!

Looping in @jb3436

[2019-09-03 16:43] hessionra commented on #44
@achafetz Please let us know if this will be ready for submission COB today!

Looping in @jb3436

[2019-09-03 16:43] hessionra commented on #41
@KatieOC Please let us know if this will be ready for submission COB today!

Looping in @jb3436

[2019-09-03 16:44] hessionra commented on #39
@aliyahwakil @nmcarloni @MicSherlock Please let us know if this will be ready for submission COB today!

Looping in @jb3436

[2019-09-03 16:44] hessionra commented on #38
@vanamala-narasimhan @wvp3 @Yabayabadoo  Please let us know if this will be ready for submission COB today!

Looping in @jb3436

[2019-09-03 16:45] hessionra commented on #32
@shazadahmed10  Please let us know if this will be ready for submission COB today!

Looping in @jb3436

[2019-09-03 16:46] hessionra commented on #40
Tool being QCed by @mehtasp today for submission.

[2019-09-03 17:04] achafetz commented on #44
not likely. Have a 2 hours meeting this afternoon and then will be offsite the next two days. if the craziness dies down, I'll have some time Friday.

[2019-09-03 17:38] aliyahwakil commented on #39
@hessionra @jb3436 yes, the last 4 will posted COB today.

[2019-09-03 20:16] hessionra commented on #39
Thank you @aliyahwakil ! Please feel free to close this ticket when they are all up on SP.

[2019-09-03 20:16] hessionra commented on #44
Thank you for letting us know @achafetz !

[2019-09-03 22:41] imujawar commented on #39
@hessionra, @aliyahwakil  I've posted the remaining ones, except Tanzania. My computer crashed multiple times  due to the size of the Tanzania MSD file. Going to try with Genie tomorrow.

[2019-09-04 14:36] KatieOC commented on #41
@hessionra almost there, will be ready by noon today.

[2019-09-05 13:40] hessionra commented on #40
Global dashboard is finished, so will close ticket. Will do OU specific site level dashboards on a rolling basis.

[2019-09-05 17:39] KatieOC commented on #41
@hessionra posted!

[2019-09-05 17:42] KatieOC commented on #43
@hessionra isn't this getting deprecated because of the 3rd 90 dossier? @HoustonJamie  for input.

[2019-09-05 18:18] hessionra commented on #43
@KatieOC
@anu87 said there has not been a formal discussion on phasing it out yet, but will happen soon.

[2019-09-05 20:25] hessionra commented on #41
Great job @KatieOC !

[2019-09-05 20:25] hessionra commented on #32
@shazadahmed10 @randyyee approved the HITS files that you uploaded-- great work!

[2019-09-05 20:26] hessionra commented on #44
Put in a read.me file to let people know that the PPR is coming soon!

[2019-09-05 20:27] hessionra commented on #46
Put in a read.me file to let people know the Performance Trends tool is on its way!

[2019-09-05 20:28] hessionra commented on #39
@imujawar thank you for uploading the TSDs, please close this ticket once Tanzania is uploaded!

[2019-09-05 21:25] imujawar commented on #39
Tanzania finally posted! Had to use the Genie, and after multiple R crashes, finally ran :)

[2019-09-24 13:37] hessionra commented on #44
Q3 Clean Timeline
- Q3 Clean Data Entry Period (9/2-9/20)
- Datasets become available in Genie (9/20)
- MSD Pre-Release (9/23)
- Datasets becomes available on Panorama (9/27)

Q3 Clean Checklist:
- [ ] Finalize tool [template] in preparation for Q3 clean data population (9/16)
- [ ] Populate tool (9/23)
- [ ] QA/QC tool (9/25)
- [ ] Submit final tool(s) to PEPFAR.net (10/2)

[2019-09-24 13:38] hessionra commented on #46
Q3 Clean Timeline
- Q3 Clean Data Entry Period (9/2-9/20)
- Datasets become available in Genie (9/20)
- MSD Pre-Release (9/23)
- Datasets becomes available on Panorama (9/27)

Q3 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q3 clean data population (9/16)
- [x] Populate tool (9/23)
- [x] QA/QC tool (9/25)
- [x] Submit final tool(s) to PEPFAR.net (10/2)

[2019-09-24 13:38] hessionra commented on #43
Q3 Clean Timeline
- Q3 Clean Data Entry Period (9/2-9/20)
- Datasets become available in Genie (9/20)
- MSD Pre-Release (9/23)
- Datasets becomes available on Panorama (9/27)

Q3 Clean Checklist:
- [ ] Finalize tool [template] in preparation for Q3 clean data population (9/16)
- [ ] Populate tool (9/23)
- [ ] QA/QC tool (9/25)
- [ ] Submit final tool(s) to PEPFAR.net (10/2)

[2019-09-24 13:39] hessionra commented on #41
Q3 Clean Timeline
- Q3 Clean Data Entry Period (9/2-9/20)
- Datasets become available in Genie (9/20)
- MSD Pre-Release (9/23)
- Datasets becomes available on Panorama (9/27)

Q3 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q3 clean data population (9/16)
- [x] Populate tool (9/23)
- [x] QA/QC tool (9/25)
- [x] Submit final tool(s) to PEPFAR.net (10/2)

[2019-09-24 13:39] hessionra commented on #40
Q3 Clean Timeline
- Q3 Clean Data Entry Period (9/2-9/20)
- Datasets become available in Genie (9/20)
- MSD Pre-Release (9/23)
- Datasets becomes available on Panorama (9/27)

Q3 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q3 clean data population (9/16)
- [x] Populate tool (9/23)
- [ ] QA/QC tool (9/25)
- [ ] Submit final tool(s) to PEPFAR.net (10/2)

[2019-09-24 13:40] hessionra commented on #39
Q3 Clean Timeline
- Q3 Clean Data Entry Period (9/2-9/20)
- Datasets become available in Genie (9/20)
- MSD Pre-Release (9/23)
- Datasets becomes available on Panorama (9/27)

Q3 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q3 clean data population (9/16)
- [x] Populate tool (9/23)
- [x] QA/QC tool (9/25)
- [x] Submit final tool(s) to PEPFAR.net (10/2)

[2019-09-24 13:40] hessionra commented on #38
Q3 Clean Timeline
- Q3 Clean Data Entry Period (9/2-9/20)
- Datasets become available in Genie (9/20)
- MSD Pre-Release (9/23)
- Datasets becomes available on Panorama (9/27)

Q3 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q3 clean data population (9/16)
- [x] Populate tool (9/23)
- [x] QA/QC tool (9/25)
- [x] Submit final tool(s) to PEPFAR.net (10/2)

[2019-09-24 13:41] hessionra commented on #37
Q3 Clean Timeline
- Q3 Clean Data Entry Period (9/2-9/20)
- Datasets become available in Genie (9/20)
- MSD Pre-Release (9/23)
- Datasets becomes available on Panorama (9/27)

Q3 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q3 clean data population (9/16)
- [x] Populate tool (9/23)
- [x] QA/QC tool (9/25)
- [x] Submit final tool(s) to PEPFAR.net (10/2)

[2019-09-24 13:42] hessionra commented on #34
Q3 Clean Timeline
- Q3 Clean Data Entry Period (9/2-9/20)
- Datasets become available in Genie (9/20)
- MSD Pre-Release (9/23)
- Datasets becomes available on Panorama (9/27)

Q3 Clean Checklist:
- [ ] Finalize tool [template] in preparation for Q3 clean data population (9/16)
- [ ] Populate tool (9/23)
- [ ] QA/QC tool (9/25)
- [ ] Submit final tool(s) to PEPFAR.net (10/2)

[2019-09-24 13:43] hessionra commented on #33
Q3 Clean Timeline
- Q3 Clean Data Entry Period (9/2-9/20)
- Datasets become available in Genie (9/20)
- MSD Pre-Release (9/23)
- Datasets becomes available on Panorama (9/27)

Q3 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q3 clean data population (9/16)
- [x] Populate tool (9/23)
- [x] QA/QC tool (9/25)
- [x] Submit final tool(s) to PEPFAR.net (10/2)

[2019-09-24 13:43] hessionra commented on #32
Q3 Clean Timeline
- Q3 Clean Data Entry Period (9/2-9/20)
- Datasets become available in Genie (9/20)
- MSD Pre-Release (9/23)
- Datasets becomes available on Panorama (9/27)

Q3 Clean Checklist:
- [x] Finalize tool [template] in preparation for Q3 clean data population (9/16)
- [x] Populate tool (9/23)
- [x] QA/QC tool (9/25)
- [x] Submit final tool(s) to PEPFAR.net (10/2)

[2019-10-01 18:46] hessionra commented on #40
Populated, awaiting QC by @mehtasp

[2019-10-01 22:51] nmcarloni commented on #39
@hessionra @jb3436 the majority of the files have been posted on SP and will be QC'd tomorrow (10/2). Still working on running the last few large OUs, but will update you when those are finished.

[2019-10-03 15:39] hessionra commented on #41
@KatieOC do you think this will be completed by COB today? Thank you!

[2019-10-03 15:40] hessionra commented on #46
@anu87  do you think this will be completed by COB today? Thank you!

[2019-10-03 15:40] hessionra commented on #43
@anu87 do you think this will be completed by COB today? Thank you!

[2019-10-03 15:41] hessionra commented on #44
@achafetz do you think this will be completed by COB today? Thank you!

[2019-10-03 16:39] achafetz commented on #44
locked and loaded and ready to go

[2019-10-03 17:00] hessionra commented on #44
Thank you @achafetz , awesome work!

[2019-10-03 17:01] hessionra commented on #37
Thank you @aliyahwakil , awesome work!

[2019-10-03 17:01] hessionra commented on #39
@nmcarloni thank you, awesome work!

[2019-10-03 17:52] kimisatoPC commented on #34
FY19Q3 CLEAN has been posted

[2019-10-11 10:03] KatieOC commented on #41
done!

[2019-10-11 10:04] KatieOC commented on #46
@anu87 completed, thanks Anu!

[2019-11-06 18:35] kkale25 commented on #46
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

- **Will this tool be updated for Q4?** Yes.
- **When will the tool be retired (expected quarter)?** Not sure.
- **Who is the ICPI POC/Owner of this tool?** @KatieOC @anu87
- **Who will QC this tool for Q4?** @anu87
- **Do you need additional support for QCing the tool for Q4?** probably.
- **Will this

[2019-11-06 18:47] kkale25 commented on #47
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

- **Will this tool be updated for Q4?**
- **When will the tool be retired (expected quarter)?**
- **Who is the ICPI POC/Owner of this tool?**
- **Who will QC this tool for Q4?**
- **Do you need additional support for QCing the tool for Q4?**
- **Will this tool be ready for the Huddle on 11/27?**
- **Is

[2019-11-06 18:48] #47 closed, assigned to shazadahmed10

[2019-11-06 18:49] kkale25 commented on #33
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

- **Will this tool be updated for Q4?**
- **When will the tool be retired (expected quarter)?**
- **Who is the ICPI POC/Owner of this tool?**
- **Who will QC this tool for Q4?**
- **Do you need additional support for QCing the tool for Q4?**
- **Will this tool be ready for the Huddle on 11/27?**
- **Is

[2019-11-06 18:50] kkale25 commented on #32
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

- **Will this tool be updated for Q4?**
- **When will the tool be retired (expected quarter)?**
- **Who is the ICPI POC/Owner of this tool?**
- **Who will QC this tool for Q4?**
- **Do you need additional support for QCing the tool for Q4?**
- **Will this tool be ready for the Huddle on 11/27?**
- **Is

[2019-11-06 18:50] kkale25 commented on #45
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

- **Will this tool be updated for Q4?**  **No**
- **When will the tool be retired (expected quarter)?** **Was retired FY19Q1 after SIMS 4.0 was implemented**
- **Who is the ICPI POC/Owner of this tool?**
- **Who will QC this tool for Q4?**
- **Do you need additional support for QCing the tool for Q4?**

[2019-11-06 18:52] kkale25 commented on #44
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

- **Will this tool be updated for Q4?**
- **When will the tool be retired (expected quarter)?**
- **Who is the ICPI POC/Owner of this tool?**
- **Who will QC this tool for Q4?**
- **Do you need additional support for QCing the tool for Q4?**
- **Will this tool be ready for the Huddle on 11/27?**
- **Is

[2019-11-06 18:52] kkale25 commented on #43
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

1. **Will this tool be updated for Q4?**
2. **When will the tool be retired (expected quarter)?**
3. **Who is the ICPI POC/Owner of this tool?**
4. **Who will QC this tool for Q4?**
5. **Do you need additional support for QCing the tool for Q4?**
6. **Will this tool be ready for the Huddle on 11/27?**
7

[2019-11-06 18:53] kkale25 commented on #41
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

- **Will this tool be updated for Q4?** Yes.
- **When will the tool be retired (expected quarter)?**FY20 Q1
- **Who is the ICPI POC/Owner of this tool?** @KatieOC
- **Who will QC this tool for Q4?** @KatieOC
- **Do you need additional support for QCing the tool for Q4?** no
- **Will this tool be ready f

[2019-11-06 18:57] kkale25 commented on #39
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

- **Will this tool be updated for Q4?** Yes
- **When will the tool be retired (expected quarter)?** Q1
- **Who is the ICPI POC/Owner of this tool?** Nicole/Aliyah
- **Who will QC this tool for Q4?** Michelle
- **Do you need additional support for QCing the tool for Q4?** No
- **Will this tool be ready f

[2019-11-06 19:00] kkale25 commented on #37
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

- **Will this tool be updated for Q4?** Yes
- **When will the tool be retired (expected quarter)?** Q1
- **Who is the ICPI POC/Owner of this tool?** Aliyah
- **Who will QC this tool for Q4?** Nicole Carloni
- **Do you need additional support for QCing the tool for Q4?** No
- **Will this tool be ready fo

[2019-11-06 19:01] kkale25 commented on #34
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

- **Will this tool be updated for Q4?**
- **When will the tool be retired (expected quarter)?**
- **Who is the ICPI POC/Owner of this tool?**
- **Who will QC this tool for Q4?**
- **Do you need additional support for QCing the tool for Q4?**
- **Will this tool be ready for the Huddle on 11/27?**
- **Is

[2019-11-06 19:02] kkale25 commented on #38
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

- **Will this tool be updated for Q4?** Yes
- **When will the tool be retired (expected quarter)?** Depends on full KP dossier approval, at least Q2
- **Who is the ICPI POC/Owner of this tool?** @vanamala-narasimhan
- **Who will QC this tool for Q4?** @imujawar @oyd6 and LaChandra if needed
- **Do you n

[2019-11-06 20:55] kkale25 commented on #42
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

- **Will this tool be updated for Q4?**
- **When will the tool be retired (expected quarter)?**
- **Who is the ICPI POC/Owner of this tool?**
- **Who will QC this tool for Q4?**
- **Do you need additional support for QCing the tool for Q4?**
- **Will this tool be ready for the Huddle on 11/27?**
- **Is

[2019-11-06 20:56] kkale25 commented on #40
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

- **Will this tool be updated for Q4?** no.
- **When will the tool be retired (expected quarter)?** FY19 initial Q4
- **Who is the ICPI POC/Owner of this tool?** @KatieOC
- **Who will QC this tool for Q4?** NA
- **Do you need additional support for QCing the tool for Q4?** NA
- **Will this tool be ready

[2019-11-06 20:57] kkale25 commented on #35
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

- **Will this tool be updated for Q4?**
- **When will the tool be retired (expected quarter)?**
- **Who is the ICPI POC/Owner of this tool?**
- **Who will QC this tool for Q4?**
- **Do you need additional support for QCing the tool for Q4?**
- **Will this tool be ready for the Huddle on 11/27?**
- **Is

[2019-11-06 21:00] kkale25 commented on #21
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

- **Will this tool be updated for Q4?**
- **When will the tool be retired (expected quarter)?**
- **Who is the ICPI POC/Owner of this tool?**
- **Who will QC this tool for Q4?**
- **Do you need additional support for QCing the tool for Q4?**
- **Will this tool be ready for the Huddle on 11/27?**
- **Is

[2019-11-06 21:01] kkale25 commented on #18
**Questions for POCs to answer by EOD 11/8** Please write your responses next to the question.

- **Will this tool be updated for Q4?**
- **When will the tool be retired (expected quarter)?**
- **Who is the ICPI POC/Owner of this tool?**
- **Who will QC this tool for Q4?**
- **Do you need additional support for QCing the tool for Q4?**
- **Will this tool be ready for the Huddle on 11/27?**
- **Is

[2019-11-06 21:10] anu87 commented on #43
This excel tool is discontinued after Fy19Q3 clean update: https://github.com/ICPI/Coordination/issues/99

[2019-11-06 21:13] kkale25 commented on #43
@anu87  Please answer questions 9 and 10 above.

[2019-11-07 17:48] KatieOC commented on #46
@anu87 @kkale25 see comments above.

[2019-11-07 17:49] KatieOC commented on #41
@kkale25 see comments above.

[2019-11-07 17:51] KatieOC commented on #40
@kkale25 see comments above.

[2019-11-12 17:11] mehtasp commented on #45
Updated to show that Excel tool was retired after FY19Q1 once SIMS 4.0 was implemented.
SIMS dossier will be updated by Shabeen/PQ and QC'd by PQ/Shaylee

[2019-11-12 17:11] #45 closed, assigned to mehtasp, HoustonJamie, hessionra

[2019-11-12 17:22] cnichols3h commented on #42
Thank you @kkale25 .  The current plan is to retire the excel-based ICPI TB/HIV dashboard for FY19 Q4 due to the fact that we will have the TB/HIV Dossier in Pano. (where one can view TX_TB and TB_PREV) and the Clinical Cascade Dossiers in Pano. (where one can view TB_STAT and TB_ART) for Q4.
for awareness: @mehtasp @petersonml @Kibidango15 @kze7

[2019-11-13 14:59] kimisatoPC commented on #34
@kkale25
Questions for POCs to answer by EOD 11/8 Please write your responses next to the question.

Will this tool be updated for Q4? Yes
When will the tool be retired (expected quarter)? FY20Q1
Who is the ICPI POC/Owner of this tool? Kimi
Who will QC this tool for Q4? Barbara
Do you need additional support for QCing the tool for Q4? No
Will this tool be ready for the Huddle on 11/27? If the DREA

[2019-11-13 15:00] kimisatoPC commented on #35
@kkale25

Will this tool be updated for Q4? No
When will the tool be retired (expected quarter)? Already retired
Who is the ICPI POC/Owner of this tool? Kimi
Who will QC this tool for Q4? N/A
Do you need additional support for QCing the tool for Q4? N/A
Will this tool be ready for the Huddle on 11/27? N/A
Is there a Dossier equivalent for this tool in Q4? Yes
What is the name of the Dossier? Preve

[2019-11-13 21:56] kkale25 commented on #38
@vanamala-narasimhan Can you please update the questions listed above ASAP?

[2019-11-13 21:58] kkale25 commented on #39
@aliyahwakil @nmcarloni Can you please update the questions above ASAP?

[2019-11-13 21:58] kkale25 commented on #18
@anu87 @ERottinghaus Can you please update the answers to the questions above ASAP?

Thanks!

[2019-11-13 22:03] anu87 commented on #18
@kkale25 Lab tool will not be updated for FY19Q4 as the data is now visualized in HSS dossier. I am not involved in the development of HSS dossier, so don't have answers to other questions about the same.

[2019-11-14 12:46] ERottinghaus commented on #18
Please see me responses below.

Erin Rottinghaus, PhD | Laboratory Data Monitoring Team Lead | International Laboratory Branch | Division of Global HIV & TB | Centers for Disease Control and Prevention | 1600 Clifton Rd, Atlanta, GA 30333
Phone: 404-639-2872 | Email: isa0@cdc.gov

From: Kashmira Kale <notifications@github.com>
Sent: Wednesday, November 6, 2019 4:02 PM
To: ICPI/ICPI-Product-Tracker

[2019-11-14 13:56] aliyahwakil commented on #39
@kkale25 just updated!

[2019-11-22 18:15] #42 closed, assigned to mehtasp, cnichols3h, HoustonJamie, kkale25, petersonml

[2019-11-22 18:16] kkale25 commented on #18
Lab Dashboard has been retired and will not be updated henceforth.

[2019-11-22 18:16] #18 closed, assigned to anu87, mehtasp, cnichols3h, HoustonJamie, kkale25, ERottinghaus

[2019-11-22 18:17] kkale25 commented on #40
HEI Dashboard retired starting FY19Q4.

[2019-11-22 18:17] #40 closed, assigned to anu87, KatieOC, HoustonJamie, kkale25

[2019-11-22 18:17] kkale25 commented on #35
Prevention Summary Dashboard already retired and will not be updated henceforth.

[2019-11-22 18:17] #35 closed, assigned to HoustonJamie, kimisatoPC, kkale25, erinschelar

[2019-11-22 18:18] kkale25 commented on #43
Viral Load Dashboard retired starting FY19Q3.

[2019-11-22 18:18] #43 closed, assigned to anu87, mehtasp, cnichols3h, HoustonJamie, Yabayabadoo, kkale25

[2019-11-25 20:48] achafetz commented on #44
FY19Q4i PPRs are live.

[2019-11-26 19:46] nmcarloni commented on #39
@kkale25 TSDs have been posted to SP. @aliyahwakil will approve them today

[2019-11-26 21:41] aliyahwakil commented on #37
Tool updated for initial Q4 and posted

[2019-11-27 05:31] KatieOC commented on #41
tool posted.

[2020-01-06 18:20] kkale25 commented on #44
@achafetz @HoustonJamie
Please answer the following questions for this tool ASAP:

Who is the ICPI POC/Owner of this tool?
Who will QC this tool for Q4 Clean?
Do you need additional support for QCing the tool for Q4 Clean?
Will this tool be ready for the Huddle on 1/10?

[2020-01-06 18:23] kkale25 commented on #21
@jleehurst @kimisatoPC @erinschelar
Please answer the following questions for this tool ASAP:

Who is the ICPI POC/Owner of this tool?
Who will QC this tool for Q4 Clean?
Do you need additional support for QCing the tool for Q4 Clean?
Will this tool be ready for the Huddle on 1/10?

[2020-01-06 18:24] kkale25 commented on #32
@shazadahmed10 @mehtasp @randyyee
Please answer the following questions for this tool ASAP:

Who is the ICPI POC/Owner of this tool? Randy
Who will QC this tool for Q4 Clean? Shazad & Shaylee
Do you need additional support for QCing the tool for Q4 Clean? No
Will this tool be ready for the Huddle on 1/10? yes

[2020-01-06 18:24] kkale25 commented on #33
@shazadahmed10 @mehtasp @randyyee
Please answer the following questions for this tool ASAP:

Who is the ICPI POC/Owner of this tool? Randy
Who will QC this tool for Q4 Clean? Shazad & Shaylee
Do you need additional support for QCing the tool for Q4 Clean? No
Will this tool be ready for the Huddle on 1/10?** Yes

[2020-01-06 18:25] kkale25 commented on #34
@kimisatoPC @erinschelar
Please answer the following questions for this tool ASAP:

Who is the ICPI POC/Owner of this tool?
Who will QC this tool for Q4 Clean?
Do you need additional support for QCing the tool for Q4 Clean?
Will this tool be ready for the Huddle on 1/10?

[2020-01-06 18:25] kkale25 commented on #37
@aliyahwakil @kimisatoPC @erinschelar @cnichols3h
Please answer the following questions for this tool ASAP:

Who is the ICPI POC/Owner of this tool? Nicole
Who will QC this tool for Q4 Clean? Nicole
Do you need additional support for QCing the tool for Q4 Clean? No
Will this tool be ready for the Huddle on 1/10? Yes

[2020-01-06 18:26] kkale25 commented on #39
@imujawar @aliyahwakil @KatieOC @MicSherlock @cnichols3h

Please answer the following questions for this tool ASAP:

Who is the ICPI POC/Owner of this tool? Nicole
Who will QC this tool for Q4 Clean? Nicole/Michelle
Do you need additional support for QCing the tool for Q4 Clean? No
Will this tool be ready for the Huddle on 1/10? Yes

[2020-01-06 18:27] kkale25 commented on #41
@KatieOC @MicSherlock

Please answer the following questions for this tool ASAP:

Who is the ICPI POC/Owner of this tool?
Who will QC this tool for Q4 Clean?
Do you need additional support for QCing the tool for Q4 Clean?
Will this tool be ready for the Huddle on 1/10?

[2020-01-06 18:28] kkale25 commented on #46
@anu87 @KatieOC @MicSherlock

Please answer the following questions for this tool ASAP:

Who is the ICPI POC/Owner of this tool?
Who will QC this tool for Q4 Clean?
Do you need additional support for QCing the tool for Q4 Clean?
Will this tool be ready for the Huddle on 1/10?

[2020-01-07 12:47] achafetz commented on #44
The PPR will be updated, QC'ed and reposted by Friday.

[2020-01-08 15:01] #32 closed, assigned to shazadahmed10, mehtasp, HoustonJamie, randyyee, kkale25

[2020-01-08 15:02] #33 closed, assigned to shazadahmed10, mehtasp, HoustonJamie, randyyee, kkale25

[2020-01-08 15:46] nmcarloni commented on #39
@kkale25 just updated the questions!

[2020-01-08 17:46] MicSherlock commented on #39
Hi Nicole – Thanks for completing questions! I’m wondering if Katie or Imran is available to help with QC? I am in Atlanta this week and will be closing on house Friday, so took the day off. If no one else available, then I will try to find time to fit in…

Michelle

From: Nicole Carloni <notifications@github.com>
Sent: Wednesday, January 8, 2020 10:46 AM
To: ICPI/ICPI-Product-Tracker <ICPI-Produc

[2020-01-08 17:48] nmcarloni commented on #39
@MicSherlock no worries. I just listed you because I know you usually like to look it over. I'll see if others are available to help out!

[2020-01-08 17:50] MicSherlock commented on #39
Great!
BTW, there is a typo on the Net New analysis page,  still lists 19Q3. Please be sure to update the template.
😊

From: Nicole Carloni <notifications@github.com>
Sent: Wednesday, January 8, 2020 12:48 PM
To: ICPI/ICPI-Product-Tracker <ICPI-Product-Tracker@noreply.github.com>
Cc: Williams Sherlock, Michelle (CDC/DDPHSIS/CGH/DGHT) <myy6@cdc.gov>; Mention <mention@noreply.github.com>
Subject: Re

[2020-01-08 17:51] nmcarloni commented on #39
@MicSherlock will do. Thanks!

[2020-01-08 18:22] nmcarloni commented on #37
@kkale25 Tool updated for Clean Q4 and posted to SP

[2020-01-09 16:51] achafetz commented on #44
Completed

[2020-01-09 16:51] #44 closed, assigned to achafetz, HoustonJamie

[2020-01-10 00:40] nmcarloni commented on #39
@kkale25 TSDs have been posted to SP

[2020-01-10 15:39] #39 closed, assigned to imujawar, aliyahwakil, KatieOC, HoustonJamie, MicSherlock, kkale25, nmcarloni

[2020-01-13 19:22] kkale25 commented on #41
From: @KatieOC
The clean q4 ended up exceeding the size limit so additional work to the code was needed to change and remove some elements and then to rework the dashboard. several days of work for a dashboard that no one will use.

Dashboard not being updated for clean q4. Officially retired.

[2020-01-13 19:22] #41 closed, assigned to KatieOC, HoustonJamie, MicSherlock, kkale25